[2020-03-17 17:18] ROS-lover opened #2 "Only runnable on Coral Dev Board? (As of now)"
Hey,

Thanks for the well-documented and useful repository. I was wondering if the docker images and instructions presented are runnable on Coral Dev Boards only? I followed the instructions but cannot build or run the docker image and demo.

Ubuntu 18 - Cuda 10.2.

Thanks.

* 1 *
docker run -it --privileged --net=host -v $(pwd)/../../:/repo neuralet/coral-dev-board:$MODEL_NAME
Unable to find imag

[2020-03-17 19:24] mhejrati commented on #2
Hey there,

The docker containers are currently built for ARM processors to run on the coral dev board. We plan to release them for x86 so that they can use the other form factors of edge TPU soon, but no exact timeline available yet. We are also planning to create ROS nodes for these models so it is easy to integrate with ROS systems either on ARM or x86. However, keep in mind that all of them re

[2020-03-19 18:02] cassini-fly commented on #2
Thanks Mohsen. It's more clear now. Looking forward to you ROS devs.

[2020-03-29 07:57] mhejrati commented on #2
I just released amd64 examples with support for ROS. It should work if you have an amd64 node with a USB attached edge TPU.

Please check and let me know if you have any further questions.

[2020-03-31 22:40] rkgits commented on #2
@ROS-lover could you review the last comment and let us know if you have any further questions.

Thanks,
Reza

[2020-04-05 06:54] mhejrati opened #4 "Social Distancing Detector Application"
An application that detects pedestrians and identifies if two or more people are in close proximity and violate the physical distancing orders.

The application can be based on current pedestrian detection models that run on edge TPUs and GPUs.
E.g. [thatbrguy/Pedestrian-Detection](https://github.com/thatbrguy/Pedestrian-Detection)
![pedestrian-detection](https://user-images.githubusercontent.com/

[2020-04-05 14:59] JsonSadler commented on #4
Hi @mhejrati

Great work! We tested your docker files and seems they all are working properly. There are lots of ideas that can be added, but I was going to do the exact same thing as you issued (seems I have accidentally happened to see this issue just when you created it :D about 8 hours ago).

Me and one of my friends are actively working on this, I could not make a fork as your repo was big, w

[2020-04-05 19:32] aliakbarhamzeh1378 opened #5 "Gpu Support"
**Is your feature request related to a problem? Please describe.**
Please add GPU support. because in Iran we don't access to Tpu edge

[2020-04-05 19:55] aliakbarhamzeh1378 opened #6 "replace thread with ros , In the code related to ros"
**Describe the bug**
The codes, which are written for Ros, use both Ros(Publisher and Subscriber), and Thread.
the get image data from ROS Subscriber and send it to thread and wait for receive result from thread and publish to a topic.
In this section, I think you added a useless step. One of the benefits of Ros is the convenience of multitasking.
it not better, feed data to the model in ros-serve

[2020-04-05 21:02] JsonSadler commented on #4
Okay just deleted that previous repo and made a fork of yours, working on [this](https://github.com/JsonSadler/neuralet/tree/social-distancing) branch.

[2020-04-05 21:33] mhejrati commented on #5
Hi @aliakbarhamzeh1378

GPU models will be added soon. Thanks for your comment.

[2020-04-06 05:26] mhejrati opened #7 "Neuralet V1 Roadmap"
The goal for Neuralet is to simplify applying state-of-the-art deep learning models to edge devices. We are seeking the community to provide feedback on our roadmap.

### Neuralet Design Principles
- No abstraction is absolutely better than a bad abstraction. We need to make it easy to understand and adapt to the user's needs, even if it takes more code. Simplify user path to adopt a model for an

[2020-04-06 10:32] mhejrati commented on #4
Thanks @JsonSadler, this is awesome :)

I will review soon.

[2020-04-08 09:04] #2 closed

[2020-04-09 20:34] mhejrati opened #14 "Improve Social Distancing Code Documentation"

[2020-04-09 20:37] mhejrati opened #15 "Publish Social Distancing Application Containers to Neuralet Dockerhub"

[2020-04-09 20:37] mhejrati opened #16 "Evaluate and benchmark more pedestrian detection models"

[2020-04-09 20:39] mhejrati opened #17 "Improve calibration-less distance calculation logic using average person height assumption."

[2020-04-09 20:40] mhejrati opened #18 "UI Improvement: Show framerate on the web GUI"

[2020-04-09 20:41] mhejrati opened #19 "UI Improvement: Show statistical and historical data on the web GUI"

[2020-04-09 20:43] mhejrati opened #20 "Application Logic: Provide an overall environment scoring"

[2020-04-09 20:44] mhejrati opened #21 "Benchmark & Profiling: Preprocessing and post-processing profiling"

[2020-04-09 20:45] mhejrati opened #22 "Benchmark and Profiling: Web GUI profiling"

[2020-04-09 20:48] mhejrati opened #23 "Data Curation, Transfer Learning, and Model Retraining Support"

[2020-04-09 20:49] mhejrati opened #24 "Improve UI/UX for the Application"

[2020-04-09 20:49] mhejrati opened #25 "Modify configuration and parameters from web GUI"
* Configuring input sources for cameras

[2020-04-09 20:52] mhejrati opened #26 "Show high-risk areas as a heatmap"

[2020-04-09 20:53] mhejrati opened #27 "Improve web GUI web streaming performance"

[2020-04-09 20:54] mhejrati opened #28 "Improve person tracking algorithm"

[2020-04-09 20:55] mhejrati opened #29 "Improve non-max suppression speed"
Our current implementation of NMS needs to be profiled and optimized for speed.

[2020-04-09 20:56] mhejrati opened #30 "Improve detection box filtering strategies"
We can improve detections using:
- Scene priors
- Background/Foreground subtraction and modeling

@alpha-carinae29 & @mrn-mln I suggest you take a look at this.

[2020-04-09 21:52] mhejrati commented on #4
Thanks for many contributions @JsonSadler @rk68 @alpha-carinae29 @mrn-mln

Just created a roadmap here:
https://github.com/neuralet/neuralet/projects/1

[2020-04-11 13:58] HHIR commented on #4
That's really interesting, how can I run it in a normal system without the extra device ( Ubuntu )?

[2020-04-11 18:09] mhejrati opened #31 "x86-64 node release"
Adding models that run on CPU and GPU on x86-64 nodes.

Definition of done:
1- A new detectors in libs/detectors that calls a GPU or CPU model
2- A new dockerfile to build the application container for CPU
3- A new dockerfile to build the application container for NVIDIA GPU, using NVIDIA Docker
4- Documentation for running and building the application.

[2020-04-11 18:11] mhejrati commented on #4
Hey @HHIR, thanks for reaching out.

We haven't released that yet, I created an issue #31 for it. You can track progress there.

[2020-04-12 21:49] mhejrati commented on #28
1- Refactor tracker logic, there is a lot of unnecessary casting and computation.
2- Write unit tests.

[2020-04-12 23:45] #14 closed

[2020-04-12 23:45] #15 closed

[2020-04-13 00:07] alpha-carinae29 commented on #19
Hi @mhejrati.
I am working on this feature, I gonna create a CSV logger to store all of the objects and distances data in CSV files, then perform some statistical and historical analysis.

[2020-04-14 00:56] #18 closed

[2020-04-15 22:05] HHIR commented on #31
@mhejrati If there is any help needed here, please explain briefly how can I proceed?

[2020-04-16 11:51] mrn-mln commented on #19
Hi @mhejrati.
I have worked on this issue. Some javascript modules are added to your web interface in order to visualize csv files. I will send a PR to you.

[2020-04-19 17:25] mrn-mln opened #38 "cv2 error"
After ~2 minutes of running below error is raised.

Traceback (most recent call last):
  File "neuralet-distancing.py", line 22, in <module>
    DistanceApp(args)
  File "neuralet-distancing.py", line 16, in __init__
    self.ui.start()
  File "/repo/applications/smart-distancing/ui/web_gui.py", line 149, in start
    self.__ENGINE_INSTANCE.process_video(video_path)
  File "/repo/applications/smar

[2020-04-20 06:02] mhejrati commented on #38
@mrn-mln what device did you run this on?

[2020-04-20 06:07] mhejrati commented on #31
@HHIR Thanks for reaching out. I just added more details to the issue. Please review and let me know if this makes sense. We may start working on this soon.

[2020-04-20 23:00] mrn-mln commented on #38
@mhejrati AMD64 node with a connected Coral USB Accelerator.

[2020-04-20 23:35] mrn-mln commented on #38
@mhejrati I think this bug is raised when there are no frames (the frame streams is ended) as a result, `cv_image` shape is ()
`cv2.resize((), tuple(resolution))  # ERROR`
I think you should check the frame's shape before calling the `__process` method.
I fixed the issue by considering the shape of the frame before processing.

        while input_cap.isOpened() and self.running_video:

[2020-04-23 08:34] emmaWdev opened #42 "Refactor and improve Distance Calculation"
Have a class that builds different distance calculation method based on config file and create a different class for each distance method with similar interfaces.

[2020-04-25 15:46] ticlazau opened #44 "Error running social-distance"
Hello,

I am trying to run the social-distance like this:

docker run -it --runtime nvidia --privileged -p 8000:8000 -v /data/projects/neuralet:/repo neuralet/jetson-nano:applications-smart-distancing

But I am getting this error:

`Traceback (most recent call last):
  File "neuralet-distancing.py", line 22, in <module>
    DistanceApp(args)
  File "neuralet-distancing.py", line 13, in __init__

[2020-04-25 16:22] SaddamBInSyed commented on #44
Hi.

App trying to find 'Logger' field in the config file but it couldn't.

You can find the same on another ' config- skeleton.ini file ' and paste into the condig-jetson file.

Hope this helps.

[2020-04-25 16:40] alpha-carinae29 commented on #44
Hi @ticlazau , thanks for your feedback, as @SaddamBInSyed mentioned you should copy:
[code]
to the bottom of the `config-jetson.ini` file

[2020-04-25 16:52] ticlazau commented on #44
Thank you!
all good now, I am able to start and run the video example.

Rgds
FM

PS: with other videos social distance is not working, event with two persons in the video

[2020-04-25 16:52] #44 closed

[2020-04-25 17:05] alpha-carinae29 commented on #44
@ticlazau would you please open another issue and describe the problem with other video with more details?
Tnx

[2020-04-25 18:47] mrn-mln commented on #38
I closed this because [it solved](https://github.com/neuralet/neuralet/pull/41/commits/fa9e6ddf89168990c8b5b3e337d069e95cdf1e14).

[2020-04-25 18:47] #38 closed

[2020-04-26 21:57] mhejrati opened #47 "Face mask detection detector"
Curate a dataset and build a facemask detection model.

A sample dataset can be found here:
https://github.com/VirajDeshwal/mask-detection-dataset

[2020-04-27 17:14] alpha-carinae29 opened #49 "Annotating of The Remaining Frames of The Oxford Town Center Dataset"
As the annotations only exist for the first 2500 frames of the [Oxford Town Center Dataset](https://www.robots.ox.ac.uk/ActiveVision/Research/Projects/2009bbenfold_headpose/project.html) it helps training accurate models for pedestrian detection if someone can annotate the ramaining frames and add it to the bottom of the annotation [CSV file](https://www.robots.ox.ac.uk/ActiveVision/Research/Proje

[2020-04-28 18:36] rkgits opened #50 "Supporting Deepstrem"

[2020-04-28 18:38] rkgits commented on #50
Escalated 4/28/2020

[2020-04-28 19:38] mdegans commented on #50
Y'all need help? Happy to volunteer.

[2020-04-28 22:05] rkgits commented on #50
@mdegans That's great! What do you need to start? Really appreciate the offer.

[2020-04-29 00:27] mdegans commented on #50
So, I'm looking at your `Detector` interface here and the inference methods expect a resized rgb image. DeepStream works best when it can handle the whole pipeline and everything stays on the GPU, so it would probably be easiest if the `cv.VideoCapture` bit was moved inside the `Detector` class for coral. It also works best when it handles multiple sources at once so the frames can be batched (tem

[2020-04-29 03:13] rkgits commented on #50
@ebertrams, Yes we have TesnorRT AI model and we are working to release more models.

[2020-04-29 04:48] mhejrati commented on #50
@mdegans

Thanks a lot for the thoughtful suggestion. I like your suggested approach, I appreciate it if you can work on it. I don't think an integration down the line will be very challenging since we are not working on things that would have a large impact on this.

One question for you to think about while building the system, what is a good design if we want to run parallel pipelines? E.g. in

[2020-04-29 18:32] mdegans commented on #50
@mhejrati

Running multiple models at the same time isn't a problem. DeepStream's nvinfer element supports this in secondary classifier mode. The pipeline is still serial, but buffers are passed down the pipeline without blocking, so work is done on separate CUDA streams and/or devices in parallel. This is not supported for detection models, but multiple classifiers can be run after a the initial

[2020-04-29 21:56] mhejrati commented on #50
@mdegans great.

Are you planning to try gstreamer for both jetson and Coral or try DeepStream for Jetson for now?  Please let me know so that I plan the other development accordingly.

Many thanks,

[2020-04-29 22:58] mdegans commented on #50
@mhejrati

Yw. My grandmother's funeral was today (she died of Covid last week), so this is personal to me. I'm happy to help.

**Re: DeepStream**: It's just Nvidia's name for a set of plugins for GStreamer that perform inferences on video pipelines. Google provides code to do more or less the same thing, also using GStreamer as a backend.

It may make sense to use a common backend like GStreamer

[2020-04-29 23:27] mhejrati commented on #50
@mdegans very sorry to hear that! I hope everyone else in your family is healthy and safe.

Re GStreamer, it makes sense, looking forward to it.

[2020-04-29 23:45] rkgits commented on #50
@mdegans very sorry to hear that! I appreciate your contribution here.

[2020-04-30 02:08] valdivj commented on #50
@mdegans

Those we love don't go away;
They walk beside us every day.

Unseen, unheard but always near.
Sill loved, still missed, and very dear.

Wishing us hope in the midst of sorrow,
Offering comfort in the midst of pain, both today and tomorrow

I'm not the most skilled programmer but I'm pretty good at getting hardware to work together.
I am going to play around to see whats the best camera s

[2020-04-30 13:35] SaddamBInSyed commented on #47
@mhejrati
Hi.

I have a face mask detection model (trained on tfod 1.x) which will give good fps on cpu.

if you want i can share the same. if satisfied then you can integrate this option into the main repo.

thanks.

[2020-05-01 02:16] mdegans commented on #50
Thanks for the kind wishes. I haven't had as much time as I wanted over the past few days, but I did get a chance to read more or less everything add some package / test / docs boilerplate, and move some code around. Notable changes:

* [sphinx docs](https://github.com/mdegans/neuralet/tree/gstreamer/applications/smart-distancing/docs) boilerplate which builds the docs, formatting issues aside.
*

[2020-05-01 02:42] linux-devil commented on #47
There is one face mask detection model available on padddlehub

[2020-05-01 04:50] mhejrati commented on #50
@mdegans I just checked your fork and it looks like a huge upgrade :) Thanks a lot!

- I think the new base class for the detector looks good.
- It is fine using the python logging module, all we care about is the flexibility to log various perception outputs with timestamps so that the downstream processes and UI can consume them. I don't see an issue moving it to the python logging module.
- it

[2020-05-01 04:53] mhejrati commented on #47
@SaddamBInSyed yes, it will be great to test it. What dataset did you train and test it on?

[2020-05-01 04:53] mhejrati commented on #47
@linux-devil can you please provide the link?

[2020-05-01 04:55] #19 closed

[2020-05-01 04:55] #17 closed

[2020-05-01 05:30] #31 closed

[2020-05-01 05:33] mhejrati commented on #4
@HHIR you can now run the app on any x86 system without an accelerator.  Thanks to @kkrampa for submitting #43

[2020-05-01 07:41] SaddamBInSyed commented on #47
@mhejrati

The dataset prepared locally with 10k images by my known person.
This was tested with both webcam and CCTV footage and seems works fine.

Mainly this was developed bcz this model works fine with CPU.

Also I came across this below repo who has model for face mask detection

https://github.com/AIZOOTech/FaceMaskDetection

Please have a look and let me know your comments.

Thanks

[2020-05-01 17:00] mdegans commented on #50
Thanks for the feedback. I will try to submit a PR by end of day. I want to get things in a working state first. I made a bunch of changes so I want to test things work. First, I need to a new usb-c cable for my Coral since the one I am using is flaky. Worse comes to worse I can yank out the wifi card from my workstation and stick in the PCI version to test on x86.

[2020-05-01 18:17] rkgits commented on #50
@mdegans  Awesome! Looking forward to it.

[2020-05-01 18:32] linux-devil commented on #47
@mhejrati There you go : https://www.paddlepaddle.org.cn/hub/scene/maskdetect
Its pretty good and lightweight , I already tested this model . Not sure how to integrate it here.
Above repo was open sourced by Baidu .

[2020-05-02 00:48] mdegans commented on #50
I'm slowly getting there, but not quite ready for a pr. I need to test the coral x86 still.
- setup.py works and the packages installs as expected with all the data.
- added some code to find the config file and an order or priority for the config paths to make it easier to test. available config files are listed with --help and an absolute path is not required
- added a bunch of debug logging cod

[2020-05-02 02:42] mdegans commented on #50
Got it working on x86 in software tensorflow. #43 works. Still haven't tested the Coral yet. Gonna commit now and finish the rest tomorrow. Will probably also change around CvDistancing a bit if it doesn't bother you since some methods are called by a callback now.

edit: I pushed my changes for the day so you can check out what i've done. There is an issue with PIL spamming the log, but that's fi

[2020-05-02 05:09] mhejrati commented on #50
Nice :)

[2020-05-02 21:19] mdegans commented on #50
I fixed the log spam issue and got the Coral running, but it hangs at the first frame. I think it's related to an unsupported configuration on my workstation. It's Ubuntu 20.04 at the moment and the Python version I am installing is an unofficial build of 3.7 in a venv. I will try on one of my other x86 Linux boxes which are all at 18.04.

[2020-05-02 22:23] mdegans commented on #50
So, the problem was the setup. Coral works plugged into my server without an issue, and the performance is much better than with CPU version.

![Screenshot from 2020-05-02 15-15-45](https://user-images.githubusercontent.com/47511965/80893536-04ab5680-8c88-11ea-8bab-68c188eccf90.png)

All that is left is Jetson support. I will put something temporary for the PR and integrate DeepStream shortly afte

[2020-05-03 20:27] mdegans commented on #50
Almost done reintegrating the Jetson TensorRT code.

Do you have any objection to:
* Rename the Jetson backend to TensorRT, since it will probably work on any TensorRT platform including x86/Nvidia
* Rename the x86 backend to TensorFlow since it will probably work on any TensorFlow platform
* Add DeepStream/GStreamer as a separate backend rather than replacing the Jetson one?
 My thinking is that

[2020-05-03 23:19] mdegans commented on #50
The TensorRT backend is working. Just need to update some Dockerfiles, test some things, and you'll have a PR. Sorry for the delay, but I got sidetracked. I'm ADD AF. Ooh, squirrel!
![jetson neuralet](https://user-images.githubusercontent.com/47511965/80928482-93d46f00-8d59-11ea-9c87-3e1c1a42b210.png)

[2020-05-04 00:32] mhejrati commented on #50
This is a bit complicated since we package apps based on the host architecture. E.g. we may need a TensorRT release for ARM and another one for x86. As for the codebase, it is ok to use TensorRT instead of Jetson but our logic was to simplify it by segmenting codebase and container packaging in the same way, therefore we decided to go with the host types instead of SW architecture. Does it make se

[2020-05-04 00:32] mhejrati commented on #50
It makes a lot of sense. Thanks.

[2020-05-04 01:06] mdegans commented on #50
Re: image names, docker hub supports multiple architectures for a given image name.  If you've noticed, for example:
[code]
Will work on nearly any platform. You can take a look at the os/arch dropdown [here](https://hub.docker.com/layers/ubuntu/library/ubuntu/latest/images/sha256-2b90cad5ded7946db07a28252618b9c8b7f4f103fc39266bcc795719d1362d40?context=explore) and see what I mean.

I might sugges

[2020-05-04 04:01] mhejrati commented on #50
I agree that fewer versions and "just works" is preferred, but we haven't done a lot of testing on this yet. Would it be possible to not make this change and add it as an issue to get back to once we do a bit more design discussion and test? This hopefully unlocks you to get your PR in and give us enough time to discuss all these very valid suggestions.

[2020-05-04 17:52] mdegans commented on #50
That's no problem at all. I haven't actually made the proposed change so there is nothing to undo. Just let me run some final tests and I'll submit a PR so you can merge into a (dev?) branch.

[2020-05-04 18:14] mhejrati commented on #50
Great, I think it is ok to make the PR against the master branch, I can do some testing and review quickly and merge.

[2020-05-04 18:35] mdegans commented on #50
Ok. I haven't tested the Dockerfiles yet but I made some quick changes. They'll probably work fine even with the old Dockerfiles so long as the entrypoint is changed. LMK whether you want me to submit as-is.

[2020-05-04 18:37] mhejrati commented on #50
It is fine if you submit as-is, I can test on my end :)

[2020-05-04 18:37] mdegans commented on #50
Ok. Lemme create the PR then :)

[2020-05-04 19:30] mdegans commented on #50
Couple questions:
* do you have a preferred docstring format (eg. Google style)?
* do you want me to target any previous versions of JetPack or just the latest?

[2020-05-04 19:45] mhejrati commented on #50
- We are using PEP8 coding style, slowly enforcing it throughout the codebase
- Currently Jetpack 4.3, we had issues with 4.4 so it is better to stick to 4.3 for now while we test 4.4 more thoroughly. Does that work for you?

[2020-05-04 20:23] mdegans commented on #50
Gotcha. I mean the docstring style tho, not the code style. Documentation parsers like sphinx that automatically generate documentation based on docstrings, but there are different formats people use. Sphinx handles them all, but the resulting docs can look different depening on the input format. I don't really have a preference, but it's probably best for formatting sake that an agreed-upon style

[2020-05-04 21:18] mdegans commented on #50
Hey, is the issue you are having with 4.4 related to libflattenconcat by chance?

[2020-05-04 22:49] mdegans commented on #50
I have a couple notes re: docker versions
* tegra nvidia-docker images are not forwards or backwards compatible becuase of it's approach of bind mounting libraries
* on 4.3, tensorrt's python bindings need to be installed in the image, but on 4.4 they are automatically bind mounted (see `/etc/nvidia-container-runtime/host-files-for-container.d/tensorrt.csv`)
* on 4.3. libflattenconcat's source is

[2020-05-05 07:08] mhejrati commented on #5
This is added as of #43
Closing.

[2020-05-05 07:08] #5 closed

[2020-05-06 03:57] JsonSadler commented on #50
I read this long conversation, and I think the PR made by @mdegans is taking this project to another level. I may review the changes before I fall asleep :D

[2020-05-06 03:58] PhamDuyHieutb opened #55 "Could you create a bird's eye view for surveillance video?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-05-06 04:00] hieubz commented on #55
I think it will be useful for your lib and I saw some location accuracy problems when I tried to map camera view to bird's eye view.

[2020-05-06 20:57] mhejrati commented on #50
@mdegans Thanks for the PR, I am reviewing it, sorry for the radio silence, I will add comments later tonight.

[2020-05-06 21:39] mdegans commented on #50
@mhejrati

No rush. I'm writing tests for what I wrote yesterday (not comitted yet). I expect that'll take me the rest of the day (at least, depending on how smoothly it goes).

[2020-05-07 07:00] mhejrati opened #56 "CI/CD"
Currently, most of our tests are done manually. We need a CI/CD system that can build and test neuralet applications for various architecture, and deploy containers to the neuralet dockerhub.

@MrUPGrade

[2020-05-07 07:03] mhejrati opened #57 "Increase code coverage"
Build unit tests and end-to-end tests for the smart social distancing application.

Looking for community help here @mrn-mln @emmaWdev

[2020-05-07 07:06] mhejrati opened #58 "Deployment Documentation and Tutorials"
We need to provide more documentation and tutorials for deploying neuralet models and applications.

@mhsekhavat this will be great if you can help with.

[2020-05-07 07:09] mhejrati opened #59 "AWS SageMaker Marketplace deployment"
Deploy the social distancing detection models on the AWS SageMaker marketplace for the community.

[2020-05-07 07:13] mhejrati opened #60 "Deploy Smart Social Distancing to Azure Marketplace"
Deploy the smart social distancing application to the Azure Marketplace for the community.

https://azuremarketplace.microsoft.com/en-us/marketplace/

[2020-05-07 07:17] mhejrati opened #61 "Deploy Smart Social Distancing App to Azure IoT Edge Marketplace"
https://azuremarketplace.microsoft.com/en-us/marketplace/apps/category/internet-of-things?page=1&subcategories=iot-edge-modules

[2020-05-07 07:20] mhejrati opened #62 "Smart Social Distancing Application Logging and Monitoring"
Currently, we don't have any host-level or application-level logging or monitoring for the app.

This issue needs more specification from the community, but we probably want rudimentary logging of host and application using something like Prometheus and a simple Grafana dashboard.

[2020-05-07 07:26] mhejrati commented on #42
@emmaWdev
It will be great to do some basic R&D to figure out if we can any monocular perspective calculation using scene & object priors?
https://www.researchgate.net/publication/312486995_Using_the_Scene_to_Calibrate_the_Camera
https://www.csd.uwo.ca/~oveksler/Courses/Fall2007/840/StudentPapers/hoiem_cvpr06.pdf

Keeping in mind that we can afford to do expensive computations since the camera wil

[2020-05-07 07:30] mhejrati commented on #29
@alpha-carinae29 please take a look at this.

[2020-05-07 07:31] mhejrati commented on #28
@emmaWdev  Can you please take a look at this?

[2020-05-07 07:32] mhejrati commented on #21
@JsonSadler this can be connected to the current refactor that you are looking at. Maybe we should review this ticket after DeepStream is done.

[2020-05-07 07:33] mhejrati commented on #16
Closing due to lack of specification.

[2020-05-07 07:33] #16 closed

[2020-05-07 07:35] mhejrati opened #63 "Support Standard Input Sources for Smart Social Distancing"
We need to add support for the current input sources:

- Offline Video Files (either stored locally or hosted online)
- Live Video Feeds (IP Camera, etc)
- CSI on Jetson and Coral

[2020-05-07 07:39] mhejrati commented on #4
I have posted a short presentation about the project and our roadmap here:
https://docs.google.com/presentation/d/13EEt4JfdkYSqpPLpotx9taBHpNW6WtfXo2SfwFU_aQ0/edit?usp=sharing

[2020-05-07 19:21] mdegans commented on #63
How would you like the config file to look?

Right now we have
[code]

I might suggest
[code]
for uri sources and
[code]
for video cameras

[2020-05-07 20:27] rkgits commented on #63
@mdegans - could you send an email covid19project@neuralet.com? I want to discuss something with you offline.

[2020-05-07 23:49] MrUPGrade commented on #56
@mhejrati  I have a rough idea how to test the social distancing app right now. I will work on the POC for running CI only for smart distancing on Jetson Nano. If that work correctly than we can think of how to address running builds for every model - hardware combination. I will probably get back with some more information after the weekend.

[2020-05-08 05:32] mhejrati commented on #63
Makes sense.

[2020-05-08 05:33] mhejrati commented on #56
@MrUPGrade Awesome, thanks. Looking forward to it.

[2020-05-08 05:34] mhejrati commented on #55
@PhamDuyHieutb Can you please elaborate? There is currently a bird's eye map of detected persons but I imagine you are looking for something else.

[2020-05-08 05:36] mhejrati commented on #50
@mdegans I reviewed your PR and commented on it, as discussed it is merged into branch deepstream-gstreamer.

[2020-05-08 05:39] mhejrati commented on #47
@SaddamBInSyed @linux-devil Thanks a lot for the pointers. Please keep your suggestions about new datasets here.

I am hoping we can crowdsource an open and free large facemask dataset for the community. Looking for help and partners there, please let me know if you have any thoughts.

[2020-05-08 06:48] mdegans commented on #50
I saw. Ty. I finished some tests for the basic GStreamer class I added the other day, but I am running into some trouble with the DeepStream components. Nothing major, just a bit of a pain.

Issue is that the Nvidia inference element absolutely demands a config file for some things (eg. model filenames). Setting these values directly via GObject properties is unsupported at the moment.

If you tak

[2020-05-08 07:21] hieubz commented on #55
I mean that in your smart social distancing app, you can add a bird's eye map as a feature in your open source. (for example in this video  https://www.youtube.com/watch?v=15iIV1Lff-M)
I think it will be useful for your project.

[2020-05-08 14:33] linux-devil commented on #50
I got some time this weekend , if you want me to contribute in some way , feel free to tell me

[2020-05-08 14:41] linux-devil commented on #50
@mdegans Never tried to set these properties via GObject properties , but I did for gst-dsexample , i had to make some application level changes. Trust you with your logic and approach , let me know if I can be of any help and I will be happy to explore

[2020-05-08 16:02] mhejrati commented on #55
It is already implemented, have you tried our latest version?

[2020-05-08 16:07] mhejrati commented on #50
@linux-devil have you checked the open issues? Any of them look interesting to you? You are also more than welcome to open an issue yourself as well.

Right now the high priorities are getting the DeepStream working, but there is some other work either in the computer vision part and the DevOps part that can be very helpful.

Please let me know what kind of contributions you prefer and I can share

[2020-05-08 16:08] #55 closed

[2020-05-08 18:31] mdegans commented on #63
See #64 for an idea of how this might be accomplished. Work will need to be done on the config parser class to make the suggested changes, and the camera support isn't in that commit, but one potential approach is in there there. I will focus on DeepStream for now, but that's a starting point for whoever wants to pick this up.

Edit: Notes:

notes: the `nvarguscamerasrc` is the csi input gstreamer

[2020-05-08 19:09] mhejrati commented on #63
Great, thanks @mdegans for putting together the suggestion.
@linux-devil it will be great if you can help with this.

[2020-05-08 20:17] linux-devil commented on #50
I was working on deepstream for my recent projects , let me check on it and update

[2020-05-08 21:10] mdegans commented on #57
Some might find it easier to start with documemtation/tests and end with code. I try to do that when I can since it ends up saving time in the end.

Re: coverage in the deesptream branch, some things have simple doctests and GstEngine has simple end-to-end tests for the pipeline and local and network video sources. I haven't set up a .coveragerc yet, however.

[2020-05-08 23:24] mdegans commented on #50
So, to update, the temporary config writing code works and the nvinfer element parses it, so the approach I mentioned above works. Also wrote documentation and tests. The DsEngine pipeline starts and stops as well as it's base class, GstEngine, which loads and plays video files from local and network sources. It's choking on the .avi, but I think that's a decoder issue. Online sources work fine, e

[2020-05-09 05:19] mhejrati commented on #50
Your contribution here takes this project a huge step forward :) I am so hopeful that this can help in making it safer for people going back to their normal life!

Is the code on your fork to review?

[2020-05-09 07:07] valdivj commented on #50
mdegans
 While attempting to run the Tests in the "deepstream-gsteamer"  fork I  noticed the paths in the test_XXX.py samples have the path:
SAMPLES_PATH = '/opt/nvidia/deepstream/deepstream/samples/'
When deepstream installs its path is like this:
SAMPLES_PATH = '/opt/nvidia/deepstream/deepstream-4.0/samples/'
Once I changed the path in the test_xxx.py samples
I was able to run the tests succesfu

[2020-05-09 10:54] rkgits commented on #50
Salute!

On Sat, May 9, 2020 at 12:07 AM valdivj <notifications@github.com> wrote:

[2020-05-09 16:29] JsonSadler commented on #50
I am reading your fork, where you are implementing deepstreem under the detectors directory, would you please let me know why are you doing this as a separate detector? (I expected that detectors are separated according to the architecture).

BTW, would you please give me a starting point? I am a little bit lost in the code and I want to help with the DeepStream branch of yours so we can make the

[2020-05-09 17:42] JsonSadler commented on #50
Thanks for PR #64 to use gstreamer back-end of OpenCV, I will make another PR to stream the output with Gstreamer too, just wanted to let you know.

[2020-05-09 17:43] JsonSadler opened #67 "Output stream with Gstreamer"
**Is your feature request related to a problem? Please describe.**
The back-end for WebGUI is not optimized, speed is reduced while several clients open the feed. Also it is hard to actually stream the data to the client side and visualize there if you are not using any external streaming protocol.

**Describe the solution you'd like**
I will use Gstreamer to make a video stream broadcasted in the

[2020-05-09 17:46] JsonSadler commented on #67
@mhejrati Please assign this to me

[2020-05-09 17:47] JsonSadler commented on #67
@mdegans Just be informed that I am doing this

[2020-05-09 19:43] mdegans commented on #50
@mhejrati

It's WIP, but you can take a look at the direction of the design. GstEngine is where most of the work is done. I plan on that engine being the guts of the DsDetector class (and future GStreamer based detectors), with the same interface used by the other Detectors. It's mostly all documented in the docstrings, which build to real documetation with examples.

Re: your suggested changes to

[2020-05-09 19:47] mdegans commented on #50
Ty for spotting that. That's the path for DeepStream 5.0 (it's a symlink to `/opt/nvidia/deepstream/deepstream-5.0/`), but I need to make sure it works with both versions.

[2020-05-09 20:11] mdegans commented on #50
A DsEngine (internal to DsDetector) will work on any platform DeepStream supports, x86-64/Nvidia or aaarch64/Nvidia. Likewise there is no architecture specific code in GstEngine. When I make a CoralEngine, powered by GstEngine, it should run on any platform Coral supports (aarch64 or x86-64). It might even work on Windows/Coral without much trouble.

Those are the internal Engine classes however.

[2020-05-09 20:19] mdegans commented on #50
That would be very helpful. Let me know if you need any help with gstreamer pipeline strings. There are hundreds of elements, many doing the same thing but not all have the same level of polish. GStreamer elements are classified as "good", "bad" and "ugly". You can tell which group they are in, as well as their capabilites and design, with the `gst-inspect-1.0` command.

Useful would be getting a

[2020-05-09 21:27] mdegans commented on #67
Sounds good. `cv2.VideoWriter` is a good way to accelerate things for the moment.

You may wish to refer to [this plugin guide](https://docs.nvidia.com/jetson/l4t/index.html#page/Tegra%20Linux%20Driver%20Package%20Development%20Guide/accelerated_gstreamer.html) for Tegra.

While decoding pipelines can be built automatically with these elements using uridecodebin, you may need to manually select en

[2020-05-10 01:11] mdegans commented on #50
So, to update, i'm reverting to using deepstream config files. There are just too many properties to set without it. For DeepStream, there will have to be a .ini file for each inference engine. Also, they're copyrighted under a restrictive license, as well as all derivatives, so they can't be packaged with smart_distancing.

Example:
[code]

@mhejrati

Can you contact me privately at michael.john.

[2020-05-10 05:41] mhejrati commented on #67
@JsonSadler Sounds good, thanks.

[2020-05-10 05:50] mhejrati commented on #47
Thanks to @mrn-mln for submitting a PR for this :) I will review.

BTW, we should start looking to crowdsource some larger scale dataset for it. Does anyone have thoughts?

[2020-05-10 05:53] mhejrati commented on #57
We can keep this issue around to brainstorm testing strategies, including setting up .coveragerc and more end-to-end testing as well. It is also connected to #56 and how we want to wire up a CI/CD for it.

[2020-05-11 09:34] archanabwk opened #71 "Unable to run x86 docker"
Hi,

I have created docker image as mentioned here https://github.com/neuralet/neuralet/tree/master/applications/smart-distancing for x86, but after creating the image, the docker run is not working.

I'm getting error:
[code]

I have cloned the neuralnet repo and tried docker commands for x86 on Ubuntu 18.04. Are there any other steps to make this work? Or any prerequisites for x86?

### Here is

[2020-05-11 17:23] mhejrati commented on #71
@archanabwk

What do you see when you run docker images in the terminal:
`docker images`

If the container is built successfully, you should see something like this:
![image](https://user-images.githubusercontent.com/839456/81591529-6b5bfe80-9371-11ea-95b1-0f0a19e2c9ac.png)

[2020-05-11 19:15] alpha-carinae29 commented on #42
@mhejrati need any help?
It would be my pleasure to contribute.

[2020-05-11 19:21] alpha-carinae29 commented on #47
You Can create a page in [neuralet.com ](neuralet.com)and invite people to send their own images with mask.
Also the user should sign an agreement that confirms that the images are their own images and by signing this he/she give the community the right to use these images for mask detection.

[2020-05-11 19:45] mdegans commented on #63
So, one issue with .ini files is that Sections can't have duplicate keys (at least without modifying the parser), so I just solved this in the deepstream branch by having Source sections. This is the same solution that deepstream_app takes with it's app level .ini files.

So, currently, my proposed deepstream.ini looks like this:

[code]

This would also allow per-source options to be set, not jus

[2020-05-11 19:55] mdegans commented on #50
So, I simplified the GstConfig class to just wrap the master config since I figured all the necessary options for the Gstreamer elements (eg. desired output resolution) can be gotten from the main config direcltly. Everything seems simpler this way.

[code]
It also treats the ConfigEngine as a source of truth, so if it's modified, and the engine is restarted, the configuration can be updated witho

[2020-05-11 20:02] mdegans commented on #42
So, one thing I noticed trying to solve this last night in C is that distance calculations may be unnecessary. So, I haven't closely looked at your distance caculation code, but I assume you do some sort of camera space to world space transform. You need to know how many units is 6 feet for a given pair of boxes in a given location of the image, right?

But it may be that we don't need to do this

[2020-05-11 20:12] loophole64 opened #72 "libnvinfer.so.6 no such file or directory"
I'm setting up the smart distancing application on the Jeson Nano. I am using the sd card image from:
https://developer.nvidia.com/jetson-nano-sd-card-image

I have docker 18.09.7 installed.

I am following the instructions from:
https://galliot.us/2020/04/16/smart-distancing-technical-document/

I was able to build the docker image ok. When I try to run the docker container, I get the following e

[2020-05-11 20:28] mhejrati commented on #72
Which Jetpack version are you using?

[2020-05-11 21:02] loophole64 commented on #72
Correct me if I am wrong, but my understanding is that Jetpack is the software used on a host machine to flash the Jetson. I did not use Jetpack to flash the Nano. I downloaded an image for the SD card, which I referenced above.

Do I need to specifically get Jetpack 4.3 and re-flash the Jetson?

[2020-05-11 21:51] mhejrati commented on #72
The error could be because you haven't installed TensorRT. You can definitely install TensorRT without flashing the nano using Jetpack, see: https://docs.nvidia.com/deeplearning/sdk/tensorrt-install-guide/index.html

However, if you flash the SD card using JetPack it will come with all the packages required, including TensorRT. We have tested the app on JetPack 4.3 already and are working on 4.4.

[2020-05-11 21:58] loophole64 commented on #72
TensorRT (v7.1.0-1) is installed. The image is from nVidia's Jetpack page, and they include everything Jetpack would include while flashing, I think. Maybe my version is too new. I will try flashing with Jetpack 4.3 when my barrel connector power supply gets here. Maybe I will try downgrading my version of TensorRT from 7 to 6 if I can figure that out. Thanks!

[2020-05-11 21:58] mdegans commented on #72
Note: JetPack and Docker base images actually have to match. Unfortunately, the way Nvidia-docker is implemented on Tegra, libraries like nvinfer are bind mounted at runtime rather than baked into the image, and even if they are included in the image, they will be mounted over by `--runtime nvidia`.

[2020-05-11 22:03] mdegans commented on #72
I don't think that's possible since the package repositories only have one version.
Eg: the nvidia apt sources list for jetpack 4.4 is:
[code]
and 4.3 is:
[code]
Becuase they're different sources entirely, it's not possible to pin a version like you usually can with apt-get. Hopefully they change this approach in the future to use a single repo.

You could try an old debian package manually but th

[2020-05-11 23:49] mdegans commented on #50
So, to update, it may not be possible to support deepstream 4.0 since Nvidia seems to have removed the download for the 4.0 python bindings. I have [asked on the forum](https://forums.developer.nvidia.com/t/how-to-obtain-the-old-4-0-python-bindings/122771) if there is a link to them. Awaiting a response. For licensing reasons, we can't include the 5.0 configs, so it may be necessary to use the one

[2020-05-12 04:49] archanabwk commented on #71
@mhejrati

Yes, I can see the neuralnet/x86_64 container listed under docker images.

[2020-05-12 08:27] JsonSadler commented on #72
From the instructions:

Your Jetpack on the jetson Nano seems to be 4.4 if you directly got it from https://developer.nvidia.com/jetson-nano-sd-card-image. Instead, you have to flash 4.3 from here: [https://developer.nvidia.com/jetpack-43-archive](https://developer.nvidia.com/jetpack-43-archive)

As @mhejrati and @mdegans wrote before, nvidia docker works with mounting host's libnvinfer, etc. to t

[2020-05-12 09:38] archanabwk commented on #71
@mhejrati now I created the docker again and at least docker related errors are gone now. But now I'm getting below errors:
[code]
And the above link http://0.0.0.0:8000/ never works, I tried to specify local IP and other ports but still the link is always same - http://0.0.0.0:8000/.

I have a Nvidia GPU: Geforce GTX 1050 Ti and OS Ubuntu 18.04, still above error says,

`no NVIDIA GPU device is p

[2020-05-12 09:58] alpha-carinae29 commented on #71
Hi @archanabwk
would you please tell what command did you run for running this docker image?
Also this container only works with CPU and you don't need to have CUDA or CuDNN to run it.

[2020-05-12 10:04] archanabwk commented on #71
@alpha-carinae29 If this application works with CPU only, then we can ignore GPU related errors.
I used few commands as below:
[code]

[2020-05-12 11:41] pritigavali opened #74 "Could not load dynamic library and Memory Issue for Smart distancing"
Hi,
I am following the instructions from:
[https://github.com/neuralet/neuralet/tree/master/applications/smart-distancing](https://github.com/neuralet/neuralet/tree/master/applications/smart-distancing)

My Machine Configuration -
OS- Ubuntu 18.04
GPU- Nvidia GeForce 940M

I was able to build the docker image . When I try to run the docker container, I get the following error:

`2020-05-12 09:03:4

[2020-05-12 15:06] JsonSadler commented on #74
@pritigavali Hi!
I guess you are following the instructions for jetson nano (Dockerfile-jetson-nano), while you are using an x86 node. It is not documented yet, but supported if you clone the latest master branch.

Just replace `Dockerfile-jetson-nano` with `Dockerfile-x86`. Let me know if it still does not run.

[2020-05-12 15:07] JsonSadler opened #75 "Add documentation for using with x86 (Dockerfile-x86) in Readme"
**Is your feature request related to a problem? Please describe.**
Yes, issue #74 happened.

**Describe the solution you'd like**
Add instructions for using with x86 (and desktop GPU)

**Describe alternatives you've considered**
-

**Additional context**
-

[2020-05-12 15:12] alpha-carinae29 commented on #75
here is the instruction in `neuralet/neuralet/blob/master/applications/smart-distancing/README.md`
[code]

[2020-05-12 15:15] JsonSadler commented on #75
Oh nothing, it is already there, my fault.

[2020-05-12 15:15] #75 closed

[2020-05-12 15:17] JsonSadler commented on #74
Oh my fault about not being documented, it is actually documented [Usage > Run on x86](https://github.com/neuralet/neuralet/tree/master/applications/smart-distancing#usage)

[2020-05-12 15:17] alpha-carinae29 commented on #71
OK, It seems you set wrong port.
please try this:
`docker run -it -p 8000:8000 -v /PATH_TO_CLONED_REPO_ROOT/:/repo neuralet/x86_64:applications-smart-distancing`
and then open your browser and browse `http://localhost:8000/`

[2020-05-12 15:18] JsonSadler commented on #71
if you are using this option in your docker run, you are mapping your host's port 8000 to container's port 80, which does not make sense. The output you are seeing in the terminal is docker's, meaning the app is running on container's 0.0.0.0:8000. This is why in the instructions, you can see docker's option -p is used like `-p HOST_PORT:8000 `, meaning that if you want to see the output on 127.0.

[2020-05-12 15:20] JsonSadler commented on #71
lol I was writing when you were sending your answer :D

[2020-05-12 15:25] JsonSadler commented on #50
Okay seems things got complicated, what if we use a gpu accelerated version of gstreamer, write a plugin to do the inference and get the results back - while still in GPU's memory - draw them on the frame and/or send them over some streaming protocol as metadat with the frames. Thoughts?

[2020-05-12 15:25] JsonSadler commented on #50
Does DeepStream do anything else rather than this?

[2020-05-12 16:51] mdegans commented on #50
That's actually exactly what DeepStream does. It's a set of gstreamer plugins that pick the best memory type per Nvidia platform. `nvstreammux` batches buffers from one or more streams (becuase batch processing is more effecient) and attaches metadata for inference. `nvinfer` compiles and runs models with TensorRt (or runs pre-compiled engines). `nvtracker` does various forms of tracking to avoid

[2020-05-12 17:01] mdegans commented on #72
@JsonSadler

Re: libflattenconcat.so

The plugin source is not available for TensorRT 7.0

It's ordinarily at `/usr/src/tensorrt/samples/python/uff_ssd/` but it's been removed in the latest release. I can only assume there is a reason for it.

My recommendation for 4.4 Docker would be to use a deepstream base image from Nvidia. Finishing it maybe less work than getting the existing TensorRT code t

[2020-05-12 17:43] mdegans commented on #67
How's it coming @JsonSadler ?

Any good network sinks we can use? Normally, I use RTSP, but we're targeting web browsers, so you'll have to find some other sinks. Once you have a working solution for the end of the pipeline we can use the string anywhere (GStreamer static pipelines or bins can be described as a "string ! of ! elements").

you could use webmmux for a webm container. You need to enc

[2020-05-12 18:33] mdegans commented on #50
So, I'm having a pipeline linking issue that I had before. I'm looking at [my old code](https://github.com/mdegans/mce/blob/master/mce/pipeline.py) to see how I solved that before. I took a different design this time. To a certain extent I regret it. If I could go back 10 days or so, I would tell myself "just put [mce](https://pypi.org/project/mce/) in install_requires", but there are advantages t

[2020-05-12 19:21] alpha-carinae29 commented on #42
@mdegans thanks for your comment.
Assuming a fix height for a person is something we considered in our current algorithm. However, we wanted to try some algorithm to consider depth of a scene for better estimation of distances.

[2020-05-12 19:35] alpha-carinae29 opened #77 "Problem with integration a Model Trained with TLT with DeepStream"
Hi everyone.
I have tried to train a SSD Mobilenet V2 model with TLT V2.0 for pedestrian detection with Oxford Town Center dataset based on the instruction provided by Nvidia in [here](https://docs.nvidia.com/metropolis/TLT/pdf/Transfer-Learning-Toolkit-Getting-Started-Guide-IVA.pdf).
My model have been trained successfully and after pruning and retraining the inference result was acceptable:
![57

[2020-05-12 19:35] alpha-carinae29 commented on #77
@mdegans it seems you are a master in Nvidia's products. It would be my pleasure to get your feedback about it.

[2020-05-12 19:44] mdegans commented on #50
Yeah. So I forgot the conversion element. I'm watching the bounding boxes go by on my TV rn. Need to write some tests to make sure the metadata is getting spit out in the correct format, figure out the end of the pipeline (@JsonSadler ) for html5 video, and connect the distancing code to change the box colors.

[2020-05-12 20:24] mdegans commented on #77
@alpha-carinae29
Eh. I know some stuff. GStreamer is a language of it's own and I know maybe 20% of it. More of Nvidia's elements, since there aren't so many. I often ask for help on the DeepStream forum but they may decide to not support you because you're using GeForce rather than Tesla/Jetson. If you can, you may wish to also test on Jetson.

To address your issue:

* To rule out the bounding b

[2020-05-12 20:41] mhejrati commented on #74
@pritigavali is your issue resolved?

[2020-05-12 20:44] mhejrati commented on #72
@loophole64 is your issue resolved by flashing the board using JetPack 4.3? We are working on porting core CV engine to DeepStream and Gstreamer and supporting JetPack 4.4 you can track it here #50

Until then, the easiest route is to use JetPack 4.3!

[2020-05-12 20:59] loophole64 commented on #72
@mhejrati I was able to write the image from Jetpack 4.3 and resolve the issue. I had assumed the version I had was created was from 4.3 because it was under a section called "Jetpack 4.3" on nVidia's site. Thank you for your help!

[2020-05-12 21:05] mdegans commented on #72
If the version reported is incorrect, you may wish to report this to Nvidia so other avoid the same confusion. This sometimes happen, but Nvidia responds quickly to feedback on their forum.

[2020-05-12 21:24] BalajiNJL opened #79 "Trying deploy on Nano and I am getting file not found error"
I am trying run this on Nano and I am getting the following error

docker run -it --runtime nvidia --privileged -p 8000:8000 -v /home/nano/neuralet/:/repo neuralet/jetson-nano:applications-smart-distancing
[TensorRT] ERROR: Could not register plugin creator:  FlattenConcat_TRT in namespace:
Traceback (most recent call last):
  File "neuralet-distancing.py", line 22, in <module>
    DistanceApp(arg

[2020-05-12 21:32] BalajiNJL commented on #79
NM, i re-ran download_jetson_trt.sh and it worked.

[2020-05-12 21:32] #79 closed

[2020-05-12 22:08] mdegans commented on #50
![IMG_20200512_150321](https://user-images.githubusercontent.com/47511965/81750294-121fc800-9462-11ea-8f35-0a0544481eb8.jpg)

Multple sources work fine after today's work, so does the tracker and tiler and output resolution and a bucnch of other stuff. There seems to be an issues with xvid avis where the pipeline doesn't close cleanly. Not sure what's causing that, but if others experience it, the

[2020-05-12 22:39] mdegans commented on #42
@alpha-carinae29
Aha. But the bounding box height changes with distance too, doesn't it? If a person is far away, the box height is ~six feet in real world units. If a person is close, the box height is ~six feet in real world units. Only children would be smaller, and in this case we don't want to alert if they're too close to their parents so it works out well anyway. Anyway it's an idea. I may

[2020-05-12 23:36] mdegans commented on #71
[code]
you will need `--gpus all` to pass the gpus to docker. You'll also need the [nvidia-docker2 runtime](https://github.com/NVIDIA/nvidia-docker) installed for that option to work. More details on the `--gpu` option [here](https://github.com/NVIDIA/nvidia-docker#usage).

[2020-05-13 03:15] mdegans commented on #42
Hey, so it works better than I thought actually. Many thanks for Nvidia and the recent CUDA course that i took recently that gave me the idea. If I hadn't done that n-body simulation, I wouldn't have thought of this.

Feel free to use it anywhere so long as you preserve the license. I'll update my NValhalla project with this later. I can probably bind this for Python as well so it can be used dire

[2020-05-13 03:34] mhejrati commented on #71
@archanabwk as @mdegans mentioned above, it seems like the docker can't see the GPU device. Depending on which docker version you are using you should make sure to mount the GPU and nvidia libraries properly, either with  `--runtime nvidia` or `--gpus all` flags.

[2020-05-13 03:37] mhejrati commented on #72
Awesome @loophole64. Closing this issue for now. Let us know if you have any other issues.

[2020-05-13 03:37] #72 closed

[2020-05-13 03:41] mhejrati commented on #67
@JsonSadler @mdegans
FYI: #78 is in progress, working on a new fast api backend and react frontend.

Exciting to wire these all up ;)

[2020-05-13 03:42] valdivj commented on #50
mdegans looking good.
Do you guys think we should start a thread on how to deploy this app to public spaces?

[2020-05-13 03:43] mhejrati commented on #63
This makes sense to me.

[2020-05-13 03:54] mhejrati commented on #50
@valdivj can you please elaborate? :)

[2020-05-13 04:34] archanabwk commented on #71
Thank you @alpha-carinae29 , @JsonSadler , @mdegans and @mhejrati
After applying all your solutions, I used below command and finally it worked :+1:

`
docker run -it --runtime nvidia --privileged  -p 8000:8000 -v /home/archana/neuralet/:/repo neuralet/x86_64:applications-smart-distancing
`

I appreciate your quick responses and appropriate solutions :+1:

[2020-05-13 04:36] #71 closed

[2020-05-13 05:46] mdegans commented on #71
Glad you got it working.

You should not need the `--privileged` option if you pass gpus through. You can even run with the `--user` flag to run as a limited uid/gid if you prefer.

https://docs.docker.com/engine/reference/run/#runtime-privilege-and-linux-capabilities

 `--gpus all` is for x86 and old nvidia-docker versions. `--runtime nvidia` is for Tegra, however it might still work on x86. I ha

[2020-05-13 07:58] JsonSadler commented on #27
ongoing in #67

[2020-05-13 14:54] valdivj opened #83 "Deploying Social Distancing App"
The final goal of the Social Distancing app is to deploy something can help business and people adhere to social distancing best practices.
Nuralet team, since this is your baby did you guys have any thought how this is going to be deployed to help the public.
Since I will be concentrating on the Jetson nano as my platform and as soon as the app is working smoothly on it. I was going to go to a fe

[2020-05-13 16:03] mohammad7t commented on #71
@mhejrati Please notice that the `latest-py3` tensorflow image doesn't contain CUDA and uses CPU only. I suggest replacing it with `latest-gpu-py3`.

https://github.com/neuralet/neuralet/blob/8b1d6fb811225dcdf4485074c1897741445e6d5c/applications/smart-distancing/Dockerfile-x86#L1

[2020-05-13 16:08] rkgits commented on #83
@valdivj -
Thanks for opening this issue and working on it.
This is the area that we did not make much progress but I am open to discuss this with you and see what is the best option to move forward. We can discuss further offline.

[2020-05-13 17:03] mhsekhavat opened #84 "Exception on frames without objects"
**Describe the bug**
The following error is raised when a frame without object is given:
[code]

**To Reproduce**
Use dummy detector with default config on x86

[2020-05-13 17:23] valdivj commented on #83
Reza

  I have noticed that Nvidia seems to have taken an interest in the success of you app.

https://news.developer.nvidia.com/jetson-project-of-the-month-smart-social-distancing-with-ai/

It seems that now is the right time and place for an app like this to flourish.

Like I mentioned in  my post as soon as I get my nano running the App with a frame rate of at least 24 fps I will take it some l

[2020-05-13 17:26] mohammad7t commented on #84
It turns out the problem was not with zero objects, but with `None` in https://github.com/neuralet/neuralet/blob/8b1d6fb811225dcdf4485074c1897741445e6d5c/applications/smart-distancing/libs/core.py#L52

[2020-05-13 18:25] mdegans commented on #83
So, one potential option is [Pypi](https://pypi.org/project/mce/). Another is [docker hub](https://hub.docker.com/r/mdegans/nvalhalla). At least that's what i've done with my projects. Then deployment is just a `pip install` or `docker run` away (or `compose up` or whatever).

At least in the deepstream-gstreamer branch i've done the necessary python packaging work, but I haven't tried an upload t

[2020-05-13 18:53] mdegans commented on #42
So here's a video of the above code on Xavier. For some reason the bboxes are green, while on x86 they are red. This appears to be a bug in NvOSD_RectParams, but can be hacked around with some preprocessor defines.

https://youtu.be/1Ui7A061fpY

I will a post a video from x86-Nvidia shortly.

[2020-05-13 19:04] mdegans commented on #42
Here it is on x86, with the proper color bounding boxes ~except for a small bug with the channel value clipping fixed. When some values go above 1.0, the box becomes black, but that's easy enough to fix. You get the idea of how it can work, and~ edit: fixed. It's very very fast.

https://youtu.be/cjP_3oOnUtQ

[2020-05-13 20:02] valdivj commented on #83
1 vote for Docker

[2020-05-13 20:27] mdegans commented on #50
So, I ran some tests with some distancing code I wrote last night. Waiting to see what @mhejrati  and others think of it. I'm at the point where I need a couple things to progress:
* and end to the pipeline ( @JsonSadler  ).
  We need a way to serve html5 video. If we have this part, we can port it to every Detector /
  Distanicing class easily. I've done this with rtsp and a few other network sin

[2020-05-13 20:55] #84 closed

[2020-05-13 22:36] mhejrati commented on #50
I didn't know this needs to be discussed with them. Let's take this offline and reach out to them over email. Re html5, @mhsekhavat is working on it in #78.
Also, @JsonSadler is working on the gstreamer streaming in #67

Shall we create a new issue to focus on that?

[2020-05-13 22:38] mhejrati commented on #50
Drawing using previous frame's color sound like a clever solution to me :)

[2020-05-13 22:41] mhejrati commented on #83
I also suggest we go with the docker route. It has many benefits that we all know of.

@valdivj great to see your work on Jetson 👍 Once we have the app working, maybe you should create a video tutorial for it ;)

[2020-05-13 23:04] mdegans commented on #50
@mhejrati
Ok. I will implement a second queue to send the results back and apply those to the osd in the same callback. It also allows us to reuse the same distance calculation code and it probably doesn't need to be made any faster (since it's in a separate process and has a whole frame/batch to catch up). I'm going to try this approach and see how it goes.

[2020-05-13 23:07] mdegans commented on #50
I think it's covered by those two issues. Currently I am testing with a screen sink, but once those two things are ready we can connect it to the web frontend.

[2020-05-14 01:42] mdegans commented on #50
So, each object needs to have a unique id assigned for this to work. When we send the calculated distances back to the osd, it needs to know what person gets what color. That's id is already available and managed by nvtracker. I may have to modify the format of the detection results to accomodate, so as to use the uid as a key, but it's doable. One Issue it that it must pass through the whole dist

[2020-05-14 05:59] mhejrati commented on #50
@mdegans does this mean we will end up with different code bases for tracking and distance calculation based on the target platform?

Also, to avoid making this issue and the branch too hard to review and test, do you think it is possible to use a placeholder tracker and distance calculation, review and test and merge that and then go back to improve/refactor those post-processing steps?

[2020-05-14 06:04] mhejrati commented on #42
Nice. @mdegans I am a bit confused now with this thread and the other on #50, is there any problem with using this code for post-processing?

[2020-05-14 06:13] mdegans commented on #50
No. That's what I'm trying to avoid. My latest WIP commits are in the process of moving that code to the common BaseDistancing base class so it could be used by CvDistancing and DsDistanicng, but I want to know if @alpha-carinae29 has any WIP in the same area before I go any further on this.

Yes, that is absolutely possible. I can just log the raw bboxes for now. Actually there is already a test

[2020-05-14 06:28] mdegans commented on #42
So, the above code is from another project, written in C and Vala (GObject C shorthand, basically). If you'd like, I can port this algorithm to Python or Cython so we can use it in this project, but I mostly provided it as an example to give @alpha-carinae29 some ideas. I don't want to interfere with WIP.

If @alpha-carinae29 decides to use this method, The one thing that it _may_ not be compatibl

[2020-05-14 06:57] mhejrati opened #89 "Object detector retraining and deployment for Jetson using TLT & TensorRT"

[2020-05-14 13:17] undefined-references commented on #89
I tried to generate a TensorRT engine from a retrained SSD-MobileNet-v2 using UFF parser to deploy the model on the Jetson Nano using the Smart Social Distancing App in this repo. The model was retrained using TensorFlow with the latest version of the Object Detection API. I tried to run [build_engine.py](https://github.com/jkjung-avt/tensorrt_demos/blob/master/ssd/build_engine.py) (hash: 2ea5c04)

[2020-05-14 20:10] mdegans commented on #42
Hey, so I noticed [non_max_suppression_fast](https://github.com/mdegans/neuralet/blob/master/applications/smart-distancing/libs/core.py#L157) is copypasta from [this blog](https://www.pyimagesearch.com/2015/02/16/faster-non-maximum-suppression-python/) with the comments removed. I think we'll need a license to use it unless pyimagesearch has some page somewhere with a notice about all blog code th

[2020-05-14 20:17] alpha-carinae29 commented on #42
@mdegans yeah we don't need these modules anymore since now we have a high accuracy object detector.
Also the filtering and tracking algorithm is under development right now and the tracking algorithm will change soon.

[2020-05-14 20:22] alpha-carinae29 commented on #42
Thanks for your activities in this issue.
I think first of all we should create a metric and some ground truth so we can benchmark different methods. Deciding by just watching the result might not be a good idea.
Do you have any idea how we can evaluate different methods?

[2020-05-14 20:24] mdegans commented on #42
Ok. Thanks. I'll know not to work on it now @alpha-carinae29 . Please @ me when you commit so I can integrate the changes. For the moment I'm just going to avoid this part. I have my code spitting out the boxes, and trackign is already done interally to the Gstreamer pipeline. The only thing I'd ask is when you rework the code, to provide a way to account for objects that already have a uid assign

[2020-05-14 20:30] alpha-carinae29 commented on #42
Thanks for the suggestions, I think it will be ready in a week. I will mention you in the PR so we can talk about the implementations, data structures, etc.

[2020-05-14 20:36] mdegans commented on #42
Well, we have a test video, but we could use more from different angles. Not sure if there's an objective, automated, way of verifing accuracy unless you measure distances with a ruler irl and annotate the video manually to get ground truth.

Could possibly generate some ground truth synthetic footage of simple objects (eg. spheroids) moving around randomly in a 3d scene with the camera in a bunch

[2020-05-14 20:37] mdegans commented on #42
Sounds good @alpha-carinae29

[2020-05-14 20:42] mdegans commented on #63
So, multiple standard sources are implemented in the Gstreamer branch and I'm currently paused waiting on the pipeline end and distancing code. @mhejrati Any objection to me continuing where I left off with #64 so this same config format can be used elsewhere?

[2020-05-14 21:59] mohammad7t commented on #67
Hi everyone. I am going to continue implementing gstreamer. I have pushed a WIP commit in `gstreamer` [branch](https://github.com/neuralet/neuralet/tree/gstreamer/applications/smart-distancing) that writes to `tcpserversink` as @mdegans has mentioned before:

https://github.com/neuralet/neuralet/blob/678e3e4dffe90ef4e85fdfaaeaecb6b6042f0242/applications/smart-distancing/libs/core.py#L91-L96

I hav

[2020-05-14 22:17] mohammad7t commented on #67
@mdegans I am also curious which parameters of `vp8enc` and `webmmux` we should focus on for improving the streaming performance. I am looking for some parameters like buffer length.

[2020-05-14 22:30] alpha-carinae29 commented on #89
Thank you @mhejrati for opening this issue so I can share my experience on using TLT, TensorRT and DeepStream with the community.
My idea was to train a SSD MobileNet V2 network with Oxford Town Center dateset with the Nvidia's TLT platform.
In first step I pulled the TLT docker container from [here](https://ngc.nvidia.com/catalog/containers/nvidia:tlt-streamanalytics) then followed the sample Jup

[2020-05-14 22:54] mdegans commented on #67
Thanks. I did that on my own fork for the same reason.

On the branch I checked out, Dockerfile-x86 gets them from apt packages, but building OpenCV. Is this the Dockerfile you are building from?

~It may not be necessary to build OpenCv if you're willing to use an older version. My understanding is that gstreamer support should be alrready built into the version in the Debian repos used by tensor

[2020-05-14 23:07] mdegans commented on #67
i see why it's not loading. I'm running it on a separate host but the html source is:
[code]
It'll have to point to hostname in order to work, and the real one, not the one docker assigns. Not sure how to fix that Hmm...

Edit: I found the source. Just typing my docker box's name in for now and rebuilding the Dockerfile. I tried editing the uri in chome but it didn't seem to want to reload the vid

[2020-05-14 23:59] mdegans commented on #67
So, it's not loading on Linux. Gonna try some other platorms and browsers. I get the page but no video. For comparison, what platform/browser are you using @mhsekhavat ?

[2020-05-15 00:24] mdegans commented on #67
So, it works fine with Firefox and `DO_PROCESS = False`

I put a print statement here at the end of the `if DO_PROCESS`:
[code]
The right image shape is printed out, but very slowly (like 1-2 fps). It may be the encoder isn't getting frames fast enough. I will look at vp8enc and see if there is a parameter that can fix this, but it may be something is wrong with the distancing code that it's takin

[2020-05-15 00:36] mdegans commented on #67
So, I commented out the image writing and it's still going super slow. I don't think the issue is the way the decoder is configured.

[2020-05-15 00:54] mdegans commented on #67
I played around with a bunch of parameters and eventually got it working with `keyframe-max-dist=1` (keyframe every frame) but it's going as slow as the print statemets suggest with DO_PROCESS=true. I'm willing to say that it's something in the distancing code. It appears something is wrong with the bounding box position as well.

![SharedScreenshot](https://user-images.githubusercontent.com/47511

[2020-05-15 01:20] mdegans commented on #67
I uploaded a video here so you can see what's going on with the bounding boxes:
https://youtu.be/mJSnIjwzvVY

If that problem is fixed, I think the current pipeline you have may work. I have no idea why it's not working with chrome, but i'm experimenting with this same thing on my NValhalla project, so if I figure out what the issue is there, I will share it.

I know somebody closely who works on

[2020-05-15 06:14] mhejrati commented on #89
@alpha-carinae29 thanks for sharing the details here, do you mind sharing the code to reproduce what you have done in a separate branch so we can all take a look?

[2020-05-15 06:15] mhejrati commented on #89
@emma-w-dev looking forward to seeing your blog and the PR.

[2020-05-15 06:16] mhejrati commented on #63
No objections @mdegans

[2020-05-15 06:24] mhejrati commented on #42
@alpha-carinae29 thanks for taking this one. Can you please keep us updated with your progress here?

With respect to evaluation, I agree that we need a more objective and methodical. One possible approach is to try to calibrate the oxford towncenter camera's manually (if possible) and use that as ground truth (it is not 100 accurate but probably a lot better than what we have now). Also, we can d

[2020-05-15 06:25] mhejrati commented on #42
@alpha-carinae29 can you please make a PR to put a copyright text at the top of the NMS code? or if we are not using it anymore just removing it from the code?

[2020-05-15 06:26] #74 closed

[2020-05-15 12:31] mohammad7t opened #91 "Tune gstreamer encoder for each architecture"
We should figure out the best encoder (alternative to `vp8enc`) for each platform. Maybe we can get some hints from how `encodebin` chooses the encoder.

[2020-05-15 12:45] mohammad7t commented on #67
Hey @mdegans, thank you for your great feedbacks!

Yeah we build opencv and get the rest of packages from apt and pip. That's because the prebuilt opencv apt package of tensorflow image didn't support gstremer.

Will fix it. Thanks!

Good points. I created #91 for further discussion.

Ah, I will make it configurable soon.

I use Firefox. Didn't know it doesn't work with chrome!

Sorry I forgot to

[2020-05-15 12:46] mohammad7t commented on #67
Good point. I will work more on it today.

[2020-05-15 12:56] mohammad7t commented on #67
@mdegans Can you please provide some snippets on how to encode the bounding box meta data into frames and how the browser js code can extract and render them?

[2020-05-15 19:50] mrn-mln commented on #47
@mhejrati , I implemented a Mobilenet-SSD version for face detection and integrate it with a [face-mask classifier ](`https://github.com/neuralet/neuralet/pull/68`). The detector detects faces and the detected face is cropped from the original image, and the classifier classifies it to face and mask-face class.
I also used a fine-tune Mobilenet-SSD face detector[1]. For both models [WIDERFACE data

[2020-05-15 20:09] mdegans commented on #67
So, he says its stupidly hard to do web video and it's not implemented the way he would like, but he pointed me to [this](https://developers.google.com/web/fundamentals/media/mse/basics) which may (or may not) be of use.

On that page, something that caught my eye was:

So, I think the source tag needs to include the codec type (vp8/vp9) in addition to the webm container type:

[code]

My guess th

[2020-05-15 20:40] mdegans commented on #42
I've done this in my branch [here](https://github.com/mdegans/neuralet/blob/deepstream-gstreamer/applications/smart-distancing/smart_distancing/core/_cv_distancing.py#L195), so you can copy and paste (or whatever) @alpha-carinae29 . I added the comments back as well since they're useful to understand what's going on.

[2020-05-15 20:59] mdegans commented on #91
Some notes that may be helpful to whoever takes this up:
* gstreamer has an internal rank for each element, and that's how encodebin chooses them along with the capabilities (caps)
* there is this code here that's one of the few examples using encodebin that i've found:
https://gitlab.freedesktop.org/gstreamer/gst-plugins-base/-/tree/master/tests/examples/encoding
of interest, while reading the so

[2020-05-15 21:04] mdegans commented on #91
More notes on encoders:
* Nano/Tx1 do not support vp9 but do support vp8
* Tx2/Xavier does support vp9 but Xavier does not support vp8
* the plugin guide for Nvidia with some examples is [here](https://docs.nvidia.com/jetson/l4t/index.html#page/Tegra%20Linux%20Driver%20Package%20Development%20Guide/accelerated_gstreamer.html).
* the webm container format only supports vp8/vp9
* the mp4 ~conainer d

[2020-05-15 21:07] mdegans commented on #91
Also, I found out that the Googler I know closely worked on the vp8 encoder and he said it's every effecient even in software (and I've seen it run on a potato), so if we have to have a software fallback, it's a good one. Edit: also mp4/h26* is patent encumbered while vp8/9 is designed specifically not to be.

[2020-05-16 00:31] mohammad7t commented on #67
Thank you @mdegans!
I have pushed some fixes to `gstreamer` branch.
The problems in your previous feedback are fixed. It works almost smoothly with `Dockerfile-x86-openvino`. However, it is still not working in chrome (even with type='video/webm; codecs="vp8.0, vorbis"') and needs further optimizations for other dockerfiles.

I will switch to other tasks for now.

I have pushed the latest image to

[2020-05-16 01:59] mdegans commented on #67
@mhsekhavat

Did you try without vorbis, since there is no audio stream? It's just a guess, but it may be expecting it and not finding it. I will ask my Chrome friend if there is a way to get chrome to spit out some useful debug information about this and update.

[2020-05-16 11:12] mrn-mln opened #95 "Video file for face-mask detection"
For testing face-mask detection, I need a video benchmark for creating a demo and test the capability of the model in a real-world scenario. Currently, we don't have video files in which people wear a face mask.

![image](https://user-images.githubusercontent.com/63195774/82118271-52958380-978b-11ea-841b-ce55a5e0ce81.png)

[2020-05-16 18:54] mohammad7t commented on #67
@mdegans yeah I tried with `'video/webm; codecs="vp8"` too. Thanks.

[2020-05-16 19:40] mohammad7t commented on #24
This is now a milestone. I think we can close it @mhejrati.

[2020-05-16 21:33] alpha-carinae29 commented on #30
@mhejrati please move this issue to fine-tuning and calibration milestone

[2020-05-16 21:41] alpha-carinae29 commented on #30
I worked on this issue in last days.
I have implemented a background subtraction with `cv.createBackgroundSubtractorMOG2` module.
here is a result on Oxford Town Center:
![photo_2020-05-17_02-07-53](https://user-images.githubusercontent.com/63186529/82130752-72589600-97e3-11ea-9c9d-8a6f27313983.jpg)
![photo_2020-05-17_02-07-57](https://user-images.githubusercontent.com/63186529/82130756-7ab0d100-9

[2020-05-16 21:51] alpha-carinae29 commented on #30
Also I am implementing a prior distribution of bounding boxes for each pixel in the image. (only mean and variance not the whole distribution.)
To this end I computed the average and variance of width and height of bounding boxes for the centroids of the boxes recurrently with [Welford algorithm](https://en.wikipedia.org/wiki/Algorithms_for_calculating_variance#Welford's_online_algorithm). After t

[2020-05-16 21:53] alpha-carinae29 commented on #30
@mhejrati please mark it as "in progress".

[2020-05-16 22:01] alpha-carinae29 opened #96 "Transfer learning with Oxford Town Center for TensorFlow Object Detection API"
I have trained a bunch of object detection models with TensorFlow Object Detection API for pedestrian detection with Oxford Town Center dataset.
Now I want to contribute the code base to the Neuralet repo.
@mhejrati do you have any idea how this code base should be integrate with the repository?

[2020-05-16 22:10] alpha-carinae29 opened #97 "Transfer Learning of Pedestrian Detection Models with Nvidia TLT"
Hi everyone,
in past few days I have trained a SSD MobileNet V2 with Nvidia TLT platform for pedestrian detection with Oxford Town Center dataset.
I wrote in #89  in more details about my experience with TLT. As @mhejrati proposed I am going to contribute the code base I used to train the model to the Neuralet repo.
please keep the conversations about TLT under this issue.

[2020-05-16 22:11] alpha-carinae29 commented on #89
@mhejrati sure, I opened #97 to keep everything there.

[2020-05-16 22:17] alpha-carinae29 opened #98 "Implement a Robust Motion Tracking Algorithm"
Adding a motion tracking algorithm like Optical Flow or Kalman Filter can improve the detection accuracy.
please keep all of the conversations and ideas about motion tracking under this issue.

[2020-05-16 22:23] alpha-carinae29 opened #99 "Customize the Input Feature Space of the Object Detection Models."
As all of you know, most of the CNNs work with RGB input images. However to improve the detection's accuracy we can use different input space. For example we can add the foreground mask as an auxiliary channel to the input image.
![photo_2020-05-17_02-07-57](https://user-images.githubusercontent.com/63186529/82131328-696ac300-97e9-11ea-9337-89b6613a63ae.jpg)
please share your ideas about how we ca

[2020-05-16 22:49] mdegans commented on #67
@mhsekhavat

Ok. I'm going to try experimenting with gst-launch and see if I can get it working with Chome. My Chrome friend is busy at the moment but I will ask him about debugging this as soon as he's free.

[2020-05-16 23:38] mdegans commented on #67
So this works on Firefox on Xavier (on nano it would have to be `nvv4l2vp9enc` instead) :
[code]
This is my test html:
[code]
I can't connect from Chrome or Firefox with this, but it appears to be serving up h264. I'm gettin conflicting reports on whether or not the codec is required.
[code]
I will experiment more and update if I get something working with h264, or if I get the webm working with C

[2020-05-16 23:53] mdegans commented on #67
I got h264 working with firefox. still no chrome
[code]
I found that solution [here ](https://stackoverflow.com/questions/25810640/gstreamer-tcpserversink-v0-10-vs-1-0-and-html5-video-tag)which says it should work with Chrome but not with FF. Oddly it's the other way round for me, and I'm not sure if that's the right muxer (it's usually for making .ts transport streams for blu ray and dvd and such

[2020-05-17 00:03] mdegans commented on #67
So, Chrome friend pointed me to the dev console on Chrome and it's "invalid http response". So I guess we can't use plain tcp. Needs to be http. Makes sense. Googled and found [this](https://superuser.com/questions/443411/http-streaming-with-gst-launch-gstreamer). Going to look at hlssink next.

[2020-05-17 00:31] mdegans commented on #67
So, browsers don't support mpeg transport streams and need a container like mp4. Apparently [remuxing in .js is necessary if hlssink is used](https://stackoverflow.com/questions/60196390/gstreamer-and-hlssink-to-display-over-http-doesnt-work).

[2020-05-17 00:48] mdegans commented on #67
I found out [why firefox is working](https://gist.github.com/tetkuz/0c038321d05586841897#gistcomment-2727423).

So, it looks like hlssink and remuxing in .js is an option. I found this page with a working example linked off using gstreamer and nginx.

https://isrv.pw/html5-live-streaming-with-mpeg-dash

Problem there is we'd have to use an nginx instance. It might be a good idea anyways, but turns

[2020-05-17 00:54] mhejrati commented on #67
Interesting!

We can do docker compose, it may be a sensible option as long as we can fit
it all on a single jetson or coral.

Also not supporting chrome is a totally valid solution too :)

On Sat, May 16, 2020 at 5:49 PM Michael de Gans <notifications@github.com>
wrote:

[2020-05-17 01:04] mdegans commented on #67
@mhejrati

Re: chrome. Every browser is Chrome now, tho. We kind of have to support it if we want the website to work on mobile browsers and such. Re: nginx and compose. I'm not opposed to that either and I've used nginx before for video streaming (forwarding from a GoPro). It went much smoother than this, so it might be a better option. It's an excellent web server. I will experiment with this on

[2020-05-17 10:37] SaddamBInSyed opened #100 "detection error"
**Describe the bug**
person distance prediction is always showing red color (wrong) when only one person standing in the camera.

**Screenshots**
![image](https://user-images.githubusercontent.com/10062672/82142118-20e3f180-984b-11ea-9586-fe7d393ad8f3.png)

running the code on jetson nano (4.3) and viewing the client on the desktop (chrome).
please advise.

[2020-05-17 11:43] mrn-mln commented on #100
@SaddamBInSyed It seems something is wrong with visualization when there is one object (1 person) at the image. I try to reproduce the bug and fix it.

[2020-05-17 13:01] mrn-mln commented on #100
#101 The bug is fixed.

[2020-05-17 18:46] mrn-mln opened #102 "Evaluating models on edge devices"
I have worked with neuralet and try to evaluate the models but there is no evaluator module that is capable evaluate the edge devices model.
I've started to implement and dockerize an eval module to fill the gap of evaluating such models at edge devices.
Please keep the conversation and share your experience if you interest to contribute.

[2020-05-17 20:27] mrn-mln commented on #102
https://github.com/rafaelpadilla/Object-Detection-Metrics
This is a well source to evaluate detection models, I plan to use it at my module.

[2020-05-18 04:23] #100 closed

[2020-05-18 15:23] mhejrati opened #104 "Generate TensorRT Engine from Face Mask detector model for Jetson"

[2020-05-18 15:26] mhejrati opened #105 "Generate edge-TPU compiled TF-lite from Face Mask detector model for Coral"

[2020-05-18 15:27] mhejrati opened #106 "Integrate face mask detector to the social distancing app"

[2020-05-18 15:34] undefined-references commented on #104
I'm working on a script and dockerfile to generate a TensorRT from a retrained ssd-mobilenet-v2. I will test and add ssd-mobilenet-v1 support to it for Face Mask model soon.

[2020-05-18 15:37] mhejrati commented on #104
Thanks @emma-w-dev

[2020-05-18 15:39] mhejrati commented on #28
closing this issue, not needed anymore.

[2020-05-18 15:39] #28 closed

[2020-05-18 15:42] mhejrati opened #107 "Create a Social Distancing and Face Mask Dataset"

[2020-05-18 15:44] alpha-carinae29 opened #108 "Knowledge Distillation for Smart Distancing"
I have an idea to use knowledge distillation for each new environment and and train an environment specific models.
@mhejrati what is your idea?

[2020-05-18 15:45] #20 closed

[2020-05-18 15:46] mhejrati commented on #23
This issue is broken up and new issues are under the Fine-Tuning & Self Calibrating milestone.

[2020-05-18 15:46] #23 closed

[2020-05-18 15:50] mhejrati commented on #29
Closing this issue since we are deprecating NMS usage in the pipeline.

[2020-05-18 15:50] #29 closed

[2020-05-18 21:17] mrn-mln commented on #95
@rkgits, @mhejrati I've searched for the videos but it seems there are no proper videos for our task. However, there are lots of videos from news related to the face mask issue.
Sample videos:
https://www.youtube.com/watch?v=hekZBf8oUq0
https://www.youtube.com/watch?v=scStYflhltg
https://www.youtube.com/watch?v=HNMnu0Z7TgY
We can cut some parts of the videos and release a benchmark which is useful

[2020-05-18 23:06] mdegans commented on #67
So, to update on compose, the issue now is that compose still doesn't support gpus [unless in swarm](https://github.com/docker/compose/issues/6691#issuecomment-526647914). I tried to hack around that with --device but it looks like that won't work anymore. 'runtime' might still work on Tegra, but [won't on x86](https://github.com/docker/compose/issues/6691#issuecomment-514429646), so compose's run

[2020-05-19 09:23] grdsvt opened #110 "I have problem to download model for jetson-nano"
Hi, I used :

sudo docker pull neuralet/jetson-nano

to  download model for Jetson-nano for social distancing, but I received the message:

Using default tag: latest
Error response from daemon: manifest for neuralet/jetson-nano:latest not found: manifest unknown: manifest unknown

Where is the error?
I see that is not present model for jetson too but in mail I received that it is available.
Can sa

[2020-05-19 09:42] alpha-carinae29 commented on #110
Hi
You can pull the Jetson Nano docker by running:
`docker pull neuralet/jetson-nano:applications-smart-distancing`
or build the container locally by clone this repository and run followings:
[code]
for further information please follow the instruction in:
https://github.com/neuralet/neuralet/blob/master/applications/smart-distancing/README.md
let me now if it was helpful :)

[2020-05-19 13:58] mohammad7t commented on #67
@mdegans HLS looks interesting. I am gonna test it on x86 with the frontend. In the meanwhile, can you please let me know what encoder I should use for each of our current architectures?

[2020-05-19 14:33] mohammad7t opened #111 "Generate build artifacts for commits"
We are currently building two artifacts using docker in `gstreamer` branch:
1) gstreamer (CMake): https://github.com/neuralet/neuralet/blob/2a513f1405c972b82ab5e83d5b02dc794fb98eb2/applications/smart-distancing/Dockerfile-x86-openvino#L33-L43
2) frontend (NPM): https://github.com/neuralet/neuralet/blob/2a513f1405c972b82ab5e83d5b02dc794fb98eb2/applications/smart-distancing/Dockerfile-x86-openvino#L

[2020-05-19 14:41] mhejrati commented on #111
@MrUPGrade your comments are appreciated :)

[2020-05-19 16:24] mohammad7t commented on #67
@mdegans, I could not serve the `m3u8` file in the server. Maybe you know what the problem is with:
https://github.com/neuralet/neuralet/blob/f9a129aabcc30696f786924aaf0bb880a8ef29ce/applications/smart-distancing/config-x86-openvino.ini#L8

For frontend, you can either use a raw html file using `hls.js`, or use `gstreamer` branch and change
https://github.com/neuralet/neuralet/blob/f9a129aabcc3069

[2020-05-19 17:48] mdegans commented on #67
For Tegra, the encoders are:

h264: nvv4l2h264enc
h265: nvv4l2h265enc
vp8 (nano, tx1, tx2 only): nvv4l2vp8enc
vp9 (tx2, Xavier only): nvv4l2vp9enc

For x86:
h264: vaapih264enc (hardware) x264enc (quality)
vp8: vaapivp8enc (hardware) vp8enc (software)
vp9: vaapivp9enc (hardware) vp9enc (software)

more vaapi encoders/decoders are available [here](https://gstreamer.freedesktop.org/documentation/vaap

[2020-05-19 17:54] mdegans commented on #67
Does it not generate the playlist? Is /tmp/hlssink within the web root? My mistake the other day was assuming it would serve it up itself. It doesn't. It requires you have an existing webserver and you just point `location` to the location within your web root you want to put the files, `playlist-location` to the name of the playlist, and `playlist-root` to the uri the `location` would evaluate to

[2020-05-19 18:19] mdegans commented on #67
I think i see the problem:
[code]
to join fstrings, both lines need to be prefixed with f, so like:
[code]

[2020-05-19 18:27] mdegans commented on #67
@mhsekhavat I submitted a PR for this. I also moved the videoconver element to the config file since Tegra has it's own element for that.

PS: I like the idea of putting the encoder pipeline definition in the config file.

[2020-05-20 06:26] mhejrati commented on #95
Some more videos with creative common license:
https://www.youtube.com/watch?v=MEj0ayTeEnU
https://www.youtube.com/watch?v=V54hhnyAntU
https://www.youtube.com/watch?v=5_0LobssR9A
https://www.youtube.com/watch?v=A77GS1Z5uvg
https://www.youtube.com/watch?v=EeuneefPTyY
https://www.youtube.com/watch?v=KM5oNfLlhnc
https://www.youtube.com/watch?v=WvK6QP8GqzY
https://www.youtube.com/watch?v=EIY9xJc4s0Q
h

[2020-05-20 07:42] evantkchong commented on #25
@mhejrati Hello, I'd like to contribute to this issue if you'll have me!

I suppose this task involves exposing the `VideoPath` parameter from a given config.ini and saving changes made through the web GUI?

[2020-05-20 15:16] grdsvt commented on #110
Hi,
thanks alpha-carinae29 for your reply.
I downloaded docker repository with "docker pull neuralet/jetson-nano:applications-smart-distancing"
and then I tried to run docker with " docker run -it --runtime nvidia --privileged -p HOST_PORT:8000 -v /PATH_TO_CLONED_REPO_ROOT/:/repo neuralet/jetson-nano:applications-smart-distancing
but I received an error message :
"python3: can't open file 'neurale

[2020-05-20 15:54] mohammad7t opened #115 "Extract smart-distancing to https://github.com/neuralet/smart-social-distancing"
Steps:

- [x] move commits
- [x] fix paths in configs
- [ ] move issues
- [ ] move pull requests
- [ ] remove files in `applications/smart-distancing` and put a link to new repo in README.md

[2020-05-20 16:43] mhejrati commented on #110
@grdsvt
you need to replace "/PATH_TO_CLONED_REPO_ROOT/" with full absolute address of your locally cloned repo. e.g. /users/grdvst/projects/neuralet/
Right now the container can't see the files because the mounted volume is not valid.
In the future releases, we are planning to move all the code inside the container to make this simpler and not require you to mount code from outside.

[2020-05-20 16:57] grdsvt commented on #110
Thanks.
So the code in this repository is not complete?
When do you think to insert all code inside the container?
Why haven't insert all code in github without docker?
Thanks for your reply.

[2020-05-20 16:59] alpha-carinae29 commented on #110
Also please replace "HOST_PORT" with a open port in your local machine. e.g. 8000 and after you ran the docker, open your browser and browse `localhost:8000`

[2020-05-20 17:03] grdsvt commented on #110
Thanks alpha-carinae29.
I replaced "HOST_PORT" with 8000 but I did not open browser and not browe localhost:8000.
But I don't understand......
The repository for jetson is not complete yet, right?

Thanks

[2020-05-20 17:03] alpha-carinae29 commented on #110
The code is complete in the repository, However the codes are not contain in docker container and as @mhejrati mentioned, for now you should mount the source code to the container.

[2020-05-20 17:06] alpha-carinae29 commented on #110
No, it is complete for Jetson and we have a step by step guide for Jetson Nano device [here](https://github.com/neuralet/neuralet/tree/master/applications/smart-distancing#getting-started).
please follow this instruction and let us know if you had any problem.
thanks

[2020-05-20 20:12] alpha-carinae29 opened #116 "Adding Pedestrian Detection Models for x86"
Hi everyone,
I found out that only one model is available for x86 devices and this model is a COCO pre-trained model.
So I decided to train different pedestrian detection model with TensorFlow object detection API. I have trained three different object detector with Oxford Town Center dataset so far and I wanted to upload these models somewhere so I can download them in smart distancing app, howev

[2020-05-20 20:17] mohammad7t commented on #115
PR for fixing paths: https://github.com/neuralet/smart-social-distancing/pull/2

[2020-05-20 20:33] mohammad7t commented on #115
Moved commits using the following scripts:
[code]

[2020-05-20 21:25] mhejrati commented on #116
We use this repo for that purpose:
https://github.com/neuralet/neuralet-models

Make a PR there and I can merge.

[2020-05-20 21:25] mhejrati commented on #115
Thanks @mhsekhavat we needed this so badly :D

[2020-05-20 21:41] alpha-carinae29 commented on #116
Yeah but some of the model's checkpoints are above 100MB and GitHub have restrictions on large files.

[2020-05-21 04:50] JsonSadler commented on #67
@mhsekhavat  @mdegans Great work guys! I was away for a long time, seems you have done what I was planning to do. Thank you @mhsekhavat

[2020-05-21 06:18] grdsvt commented on #110
Hi @alpha-carinae29.
I executed :

cd neuralet/applications/smart-distancing/

# 1) Download TensorRT engine file built with JetPack 4.3:
./download_jetson_trt.sh
(OK)

# 2) Build Docker image
docker build -f jetson-nano.Dockerfile -t "neuralet/jetson-nano:applications-smart-distancing"

"docker build" requires exactly 1 argument.
See 'docker build --help'.
Usage:  docker build [OPTIONS] PATH | UR

[2020-05-21 06:59] MrUPGrade commented on #111
Agree, will try to do it once I finish setting up the CI server.

[2020-05-21 15:30] mohammad7t commented on #115
In order to move a branch from this repo to the new repo, you can follow this procedure:

[code]

[2020-05-22 15:40] mohammad7t commented on #27
@JsonSadler I couldn't add you to reviewers of https://github.com/neuralet/smart-social-distancing/pull/3. Please do review and let me know if there is any part that highly requires more documentation.

[2020-05-22 15:41] mohammad7t commented on #27
The above pull request improves the performance too.

[2020-05-22 22:29] alpha-carinae29 commented on #110
It seems you forgot the `.` at the end of docker build command. So please try:
[code]

[2020-05-23 21:47] mrn-mln commented on #116
@alpha-carinae29 instead of checkpoints just add a frozen graph (.pb file) to the repo.

[2020-05-24 14:52] grdsvt commented on #110
I solved.
The problem was that I had jetpack 4.4 and it was impossible importing all dipendencies.
I downgrade to jetpack 4.3 and now it is working.
Thanks

[2020-05-24 14:52] #110 closed

[2020-05-24 15:00] grdsvt opened #118 "Smart distancing on Jetson nano has very low fps"
Hi,
I solved the problem on my Jetson nano downgrade jetpack from 4.4 to 4.3 version and it is working,
but I see thet in the video it should have 17 - 20 fps (I read this in the blue text) but seeing the video I suppose that  fps is about 2-3, very slow.
How is it possible? Where is the problem?

Thanks

[2020-05-24 15:25] mrn-mln commented on #118
Hi @grdsvt,
Our video streaming method is a basic HTML method and this is why you see the output frame rate slower than the indicated fps in the blue text. The actual processing time is what the blue text indicates.
This issue will be solved at #87 #67

[2020-05-24 15:37] mrn-mln commented on #105
@mhejrati I generated tflite model and sent a[ PR for this task](https://github.com/neuralet/neuralet-models/pull/5) on neuralet-models repo.

[2020-05-24 17:51] mrn-mln commented on #47
@mhejrati I sent [a PR](https://github.com/neuralet/neuralet-models/pull/5) including detector models frozen graph for x86 devices and a quantized tflite model for edgetpu devices at the neuralet-model repo.

[2020-05-25 00:27] alpha-carinae29 commented on #116
Thanks @mrn-mln, however `.pb` files for faster RCNN models are above 100MB

[2020-05-25 00:28] alpha-carinae29 commented on #116
@mhejrati I pushed two models in here:
https://github.com/neuralet/neuralet-models/pull/6

[2020-05-26 14:09] grdsvt commented on #67
Hi, I used Gstreamer and  cam to capture a video in real time.....
but I haven't good results
I have 5-7fps but the indicated fps is 20.
Can someone help me to have best results?
Thanks

[2020-05-27 15:47] Lalithmohan24 opened #121 "ERROR: Could not register plugin creator: FlattenConcat_TRT in namespace:"
Hello,

I am using A jetson nano with jetpack 4.3 and trying to run a project from jetson community  " Smart Social Distancing ".

While trying to execute the program i get this error..

[TensorRT] ERROR: Could not register plugin creator:  FlattenConcat_TRT in namespace:
failed to load video /home/dlinano/neuralet/applications/smart-distancing/data/TownCentreXVID.avi

While googling about this er

[2020-05-27 18:17] mrn-mln opened #122 "Video for testing pedestrian detection generalization"
Hi,
I've found a video which is helpful to test the generalization of trained models on the social-distancing app.
Please keep related topics and share sample videos here.

https://github.com/opencv/opencv/blob/master/samples/data/vtest.avi

[2020-05-27 19:19] alpha-carinae29 commented on #99
Hi everyone,
I am going to start working on this issue.
In first step I will replace one the RGB input channels with the foreground mask which is obtained from the `cv.createBackgroundSubtractorMOG2` background subtractor.
Please share other ideas under this issue, Thanks

[2020-05-27 19:39] mrn-mln commented on #121
Hi @Lalithmohan24
The error number 1 is not important the application will run without any issue.
For issue number 2 you must download the sample video file as follows:
[code]

 (or if you want to load your custom video file you should indicate your source video file at config-jetson.ini)

[2020-05-29 07:15] wenzuolin-maker commented on #118
Hi, I have a problem.
I want to open camera on nano using gstreamer. So I changed to "VideoPath: v4l2src device=/dev/video0 ! video/x-raw, width=640, height=480 ! 'videoconvert ! appsink" in config-jetson.ini file. This gstreamer pipline is working in python file.
And I changed "input_cap = cv.VideoCapture(video_uri, cv.CAP_GSTREAMER)" in libs/core.py.
but I saw "failed to load video ".
How can I

[2020-05-29 15:34] #97 closed

[2020-05-29 15:37] #89 closed

[2020-05-31 08:14] Lalithmohan24 opened #123 "centroid and fourpoint coordinate"
Hello,

I am executing your smart social distancing application i have some doubts in this application.

Questions

1.Difference between centerpointdistance and fourpointdistance explain with pictures?

2.In this application your using NMS concept to avoid duplicate bounding boxes but when i try to give an a video as input there is a duplicate bounding box occuring what is the problem and how to s

[2020-05-31 14:51] alpha-carinae29 opened #124 "Pedestrian Detection Datasets"
Hi,
We are gathering various surveillance datasets for training pedestrian detection models and evaluating generalization of different approaches.
please list all of these datasets under this issue, thanks

[2020-05-31 14:56] alpha-carinae29 commented on #124
1. [Oxford Town Center Dataset](https://www.robots.ox.ac.uk/ActiveVision/Research/Projects/2009bbenfold_headpose/project.html)
2. [Caltech Pedestrian Detection](http://www.vision.caltech.edu/Image_Datasets/CaltechPedestrians/)
3. [Virat Video Dataset](https://viratdata.org/)

[2020-06-01 07:34] undefined-references commented on #123
Hi @Lalithmohan24,

as it came in parameter description,  `CenterPointsDistance` compare center of pedestrian boxes together and `FourCornerPointsDistance` compare four corresponding corner points of pedestrian boxes and suppose the minimum value of them as people distances.

Four corner points method supposed to be more sensitive and accurate in smaller scenes. You need to apply both with differe

[2020-06-03 04:33] #96 closed

[2020-06-03 04:46] mhejrati commented on #123
Hi @Lalithmohan24

Which device and model are you running this on?

Some answers below:
2- For the NMS, you can play with the parameters in the config to see if any of them work better or not, however, ultimately the person detection model can be adjusted and fine-tuned to reduce those instances.
3- Let me know if this is not clear enough, happy to clarify further: https://neuralet.com/docs/tutori

[2020-06-03 04:48] mhejrati commented on #118
@mhsekhavat

[2020-06-03 04:51] mhejrati commented on #121
For FlattenConcat_TRT it is ok to ignore it, it is being fixed in future releases.

[2020-06-03 04:51] #121 closed

[2020-06-03 04:51] #116 closed

[2020-06-03 04:53] mhejrati commented on #108
I think a good starting point is evaluating a few strong object detector and see how they will perform on Oxford Town Center and similar datasets without fine-tuning. Then do an end-to-end experiment with distillation and see if we can get any acceptable results before starting to optimize for edge devices.

Do you have a list of candidate detector models to test?

[2020-06-03 04:55] mhejrati commented on #105
@mrn-mln
Cool, thanks.

Can you please provide more details of what you have done there and what are the next steps?

[2020-06-03 04:56] mhejrati commented on #124
Is this similar to #122 or different?

[2020-06-03 14:21] mrn-mln commented on #124
Yes, @alpha-carinae29 you can share all videos or available datasets at the mentioned issue by @mhejrati.

[2020-06-03 14:39] mrn-mln commented on #106
@mhejrati please assign it to me.

[2020-06-03 14:50] mrn-mln commented on #105
@mhejrati
A ssd-mobilenet-v1 detector is trained on face-mask dataset. I converted the model to quantized int8 model which is compatible with edgetpu devices (the mAP = 0.67%).
At the next step, I am going to use the tflite model for implementing a face/face-mask detector app at the social-distancing repo. The task is related to [issue 106](https://github.com/neuralet/neuralet/issues/106).

[2020-06-03 15:11] mrn-mln commented on #95
Good video for starting.
https://www.youtube.com/watch?v=7-IEW0cr5To
@mhejrati I select these videos which you'd had shared to start working on [issue 106](https://github.com/neuralet/neuralet/issues/106)
https://www.youtube.com/watch?v=V54hhnyAntU
https://www.youtube.com/watch?v=5_0LobssR9A
https://www.youtube.com/watch?v=EeuneefPTyY
https://www.youtube.com/watch?v=_FPFLmqYRC0

[2020-06-03 15:41] alpha-carinae29 commented on #124
Yeah , sorry for duplication!

[2020-06-03 15:43] alpha-carinae29 commented on #124
closed

[2020-06-03 15:44] alpha-carinae29 commented on #124
closed

[2020-06-03 15:55] alpha-carinae29 commented on #108
yeah I am testing some SOTA object detectors on Town Center.
here is the list:

| Title                                                                  | Papar                                           | Code                                                                                                            | mAP on Town Center |
| ----------------------------------------------------------

[2020-06-03 15:55] alpha-carinae29 commented on #108
For now I am testing Faster RCNN model on town center and try to create a distillation pipeline.

[2020-06-04 08:03] orapradeep opened #126 "collaborate thru python only"
I am not sure about dockers, can i colloborate through python code developement??

[2020-06-04 11:40] mrn-mln commented on #126
@orapradeep Docker is a convenient service for installing all packages and delivering software, however, if you are not sure about using it, you can install all packages/libraries manually and run the application by python.

[2020-06-04 16:19] orapradeep commented on #126
Thx @mrn-mln any pointers on the structure will be helpful

[2020-06-04 18:03] mrn-mln commented on #126
@orapradeep
After Cloning the repo go to ` neuralet/applications/smart-distancing/`
For x86 devices open `config-x86.ini` file and set your config.
Run the app by this script `python neuralet-distancing.py --config config-x86.ini`
Note: For running the app you should install needed packages/frameworks/libraries such as flask,/ tensorflow, numpy ...
Please let me know if you have any issue.

[2020-06-06 17:10] undefined-references commented on #104
hi,
I have commited the Dockerfile for TensorRT generation is [here](https://github.com/neuralet/neuralet/tree/master/training/tensorrt_generation/ssd),
and I have generated TensorRT from face-mask-detector [frozen graph from neuralet-models](https://media.githubusercontent.com/media/neuralet/neuralet-models/master/amd64/face_mask_detector_mobilenet_v1/mobilenet_face_mask_frozen_inference_graph.pb

[2020-06-07 15:09] alpha-carinae29 commented on #108
Hi everyone I wanted to give you an update.
I tested a Faster RCNN model which is trained with NAS model selection strategies on Oxford Town Center Dataset. (You can download model from [TensorFlow Model Zoo](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md))
The mAP of this model was 83.43 on first 4501 frames of the Oxford Town Center datase

[2020-06-07 15:15] alpha-carinae29 commented on #99
I use a foreground mask instead of each RGB channels and run 3 different experiments. (each for omitting one channel and use foreground mask instead.)
The results of these experiment were almost the same and each one shows 2.5% improvement in mAP in comparison with RGB input.

[2020-06-07 18:15] delgadocc opened #127 "MIPI camera input"
Hello, thank you so much for this amazing job! I'm trying to run the algorithm using my MIPI camera on the Jetson Nano. Can you help me, please? I'm trying to use the following code but it's not working. Somebody already do it?

Thank you

cv2.VideoCapture("nvarguscamerasrc ! video/x-raw(memory:NVMM), " \
    "width=(int)1280, height=(int)720,format=(string)NV12, " \
    "framerate=(fraction)120/1

[2020-06-09 13:33] mrn-mln commented on #105
I tested a ssd-movilenet-v1, the generalization of the model was not well. So, I will try to train a new model for this task.
I will update my activity here.

[2020-06-09 19:41] mrn-mln commented on #127
@delgadocc I think [this](https://www.e-consystems.com/Articles/Camera/opencv-jetson-using-13MP-MIPI-camera.asp) would be helpful.

[2020-06-11 10:41] alpha-carinae29 commented on #108
Hi everyone.
I ran another experiment by using 3 different input channel for training the student model.
channel 1: gray scale of each frame
channel 2: foreground mask of each frame
channel 3. magnitude of optical flow of each frame
and the performance improved by 3% in comparison with last experiment (replacing foreground mask with one RGB channel) and now the mAP of this student model is just 10

[2020-06-11 10:44] alpha-carinae29 commented on #108
Now I am trying to use [this model](https://github.com/Scalsol/mega.pytorch) as the teacher model.
There is not a inference code for testing an arbitrary video file for this model so I am trying to implement this part.

[2020-06-11 11:22] undefined-references commented on #108
Hi @alpha-carinae29,
Interesting idea, I've joined to this and trying to use [ResNeSt: Split-Attention Networks](https://github.com/zhanghang1989/ResNeSt) model as the teacher model.

[2020-06-11 15:17] alpha-carinae29 commented on #108
Thank you @emma-w-dev . I am very happy that you find this topic interesting.
Testing different teacher models is a big step and can boost the results significantly.
Please share your experiences and updates here.
Thanks

[2020-06-12 19:00] mrn-mln commented on #105
I trained resnet-50 on WIDER FACE dataset. The mAP was ~0.52 which was not well enough. I will try to train a model on the HollywoodHead detection dataset in order to detect head.

[2020-06-12 21:28] alpha-carinae29 commented on #108
Hi everyone,
I stopped working on  [Memory Enhanced Global-Local Aggregation for Video Object Detection](https://arxiv.org/pdf/2003.12063v1.pdf) as teacher model since the checkpoints of this model was from  ImageNet Vid dataset and this dataset has no pedestrian class on its categories.
So I tried to use [IterDet model](https://arxiv.org/pdf/2005.05708v1.pdf) which has checkpoints on multiple ped

[2020-06-16 22:11] fiv21 commented on #72
Hi!
I'm Franco, from Argentina. I bought an AGX Xavier a few days ago and I've found this project extremely interesting, I'm wondering if there's any way I can help to you using my hardware and probably my knowledge to make some tests and support the new JetPack 4.4. As far as I understand you don't officially support the last version so that's why I offer my help if it's needed.
Be in touch, all

[2020-06-17 01:40] rkgits commented on #72
Hi Franco,
This is Reza from Neuralet Team. Welcome to the project! We appreciate your
interest. Please join our Slack team and initiate. your discussion. There
are some other team members who can involve you more in this project.
https://join.slack.com/t/neuralet/shared_invite/zt-ez7x601j-1NehEt5LZxkQFg99ElYXbw

-Reza

On Tue, Jun 16, 2020 at 3:12 PM Franco Vargas <notifications@github.com>
wrote

[2020-06-19 04:36] JsonSadler opened #128 "Model download not working from Git LFS"
**Describe the bug**
Downloading models from [neuralet/neuralet-models](https://github.com/neuralet/neuralet-models) does not work any longer as it seems to use Git LFS.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone, be in master
2. Build docker for amd64 node with usb coral
3. Run as instructed in the readme.
4. You get this error:

[code]

**Expected behavior**
I checked the file w

[2020-06-19 05:27] JsonSadler commented on #128
Seems when you click on the download button in the browser, the link to file is something like:
https://media.githubusercontent.com/media/neuralet/neuralet-models/master/edge-tpu/pedestrian_ssdlite_mobilenet_v2/ped_ssdlite_mobilenet_v2_quantized_edgetpu.tflite

[2020-06-22 09:34] keivan68 commented on #47
I have prepared a face mask dataset with three classes:
no_mask, improper_mask, proper_mask

The improper_mask class represents the examples where the mask does not fully cover the nose and/or mouth. The dataset also includes bandanas and untypical masks for training more accurate models.

I will contribute the dataset to the repo after finalizing a few things.

[2020-06-23 05:25] JsonSadler commented on #128
Thanks @emma-w-dev

[2020-06-23 05:26] mhejrati commented on #128
It is fixed for social distancing here:
https://github.com/neuralet/smart-social-distancing/pull/22

We need to update the links for the rest of models.

[2020-06-23 05:26] JsonSadler commented on #128
But let's keep this issue open as it affects the neuralet models too, not only the smart distancing app.

[2020-06-23 10:54] memina commented on #67
Hi, First of all, congratulations for your successful works.

I encountered the same problem on jetson nano.
Despite writing 28fps on flask, it shows very slowly around 2-3 fps.

How can I turn off the flask feature and see it on the screen with the cv.imshow command ?

[2020-06-26 19:00] lchunleo commented on #49
As the town Center dataset is not longer available, do anyone know the annotation format (csv)? thank you

[2020-06-29 13:15] svetlanadataper opened #129 "Jetson Nano Jetpack 4.4"
**Describe the bug**
I was trying to test the detection algorithm on my Jetson Nano, I followed the instructions for building the container.

**To Reproduce**
Steps to reproduce the behavior:
1. I built the container as stated in the repo:

`sudo docker build -f jetson-nano.Dockerfile -t "neuralet/jetson-nano:applications-smart-distancing" .`

2. When I run I get the following error:

`sudo docker

[2020-06-29 16:14] codebugged commented on #118
Hi @wenzuolin-maker
Was your problem solved ?

If yes then please help me

[2020-06-29 16:17] codebugged commented on #83
Hi @valdivj @mhejrati @rkgits
Thank you for this repo.
How can I take live camera feed ( I am using Logitech C270 webcam)
Please help
Thanks in advance

[2020-06-29 20:37] piorun369 commented on #129
I am experiencing the same issue.

[2020-06-29 20:41] piorun369 commented on #122
Thanks. Does anyone have a link to the original video for the demo: TownCentreXVID.avi?

The link is broken:
neuralet/applications/smart-distancing/download_sample_video.sh

wget http://www.robots.ox.ac.uk/ActiveVision/Research/Projects/2009bbenfold_headpose/Datasets/TownCentreXVID.avi -O data/TownCentreXVID.avi

[2020-06-29 20:42] svetlanadataper commented on #129
It seems like the container is built with missing libraries...anyone can help us with this?

[2020-06-30 12:39] mhaboali commented on #83
Hi all,

I have the same question, how can I run the system with live camera input on Jetson Nano?

Thanks!

[2020-06-30 14:42] mats-claassen commented on #83
Hi @codebugged and @mhaboali, I think the question is a bit off topic in this thread, but have you tried replacing the path to the local video in the config file you are using, with either a link to the camera if it is connected over network, or the index of the webcam?

[2020-06-30 14:48] mhaboali commented on #83
Hi @mats-claassen thanks for your reply,

Yes I've tried that by using /dev/video0 in the config file. And I got "opened /dev/video0" in the terminal as shown below but I don't know how can I make sure it works properly. Could you help with that?

![image](https://user-images.githubusercontent.com/29764281/86142784-e0d38800-baf3-11ea-8f5d-0e812fb05531.png)

[2020-06-30 15:22] mats-claassen commented on #83
@mhaboali Have you joined our Slack channel? So we could continue the discussion there. Or, please open a different issue.

What do you mean by making sure it works properly? Have you opened the web dashboard? Are you seeing the camera feed there with bounding boxes for people? If so, then it is working.

[2020-07-01 11:22] engineer1982 commented on #129
Same problem here guys... :(

[2020-07-02 15:06] mats-claassen commented on #25
Hi @MoltenMuffins have you made any progress on this?
If you haven't I'd like to take it on.

And regarding your question, I believe it involves what you mention but in future could be expanded to support more configurations. For example, to modify some parameter of the model. Am I right @mhejrati ?

[2020-07-03 13:41] mats-claassen commented on #26
Hi @mhejrati, we could start working on this. I have a few questions/comments about this feature:
1- First we need to save the detection location to the csv file (or other analytics storage). Have you thought about the format for this? Should we save the box coordinates or only the center for each box? (Or maybe the center of the bottom side of the box) For example it could be a stringified array

[2020-07-07 07:20] JsonSadler commented on #129
@svetlanadataper We only support jetpack 4.3 for now, but what you told was a little bit weird, what did you meant by "because I do not have this problem on the Jetson nano itself"? Can you run the code outside the docker?
I am asking as some of the libraries used in converting our models to use with TRT are build in a way that are not working on Jetpack 4.3 (We had troubles to get it working with

[2020-07-07 07:21] JsonSadler commented on #129
@cachro2 @engineer1982 Are you using Jetpack 4.4 too?
There should be no issues with 4.3

[2020-07-07 07:24] JsonSadler commented on #127
@delgadocc Could you manage to solve it?

[2020-07-07 07:41] JsonSadler commented on #126
@orapradeep Thanks for your willingness, feel free to collaborate and make PR's, just mention that you need help with the dockers.

[2020-07-07 07:44] JsonSadler commented on #122
@mrn-mln  I think you can close this now

@cachro2 Check [https://github.com/neuralet/smart-social-distancing/pull/26](https://github.com/neuralet/smart-social-distancing/pull/26), videos are changed as the original video has been removed due to some privacy issues.

[2020-07-07 07:47] JsonSadler commented on #67
@grdsvt @memina Master branch for [https://github.com/neuralet/smart-social-distancing](https://github.com/neuralet/smart-social-distancing) now streams the output with gstreamer, you can test that.

[2020-07-07 07:49] JsonSadler commented on #67
@mhejrati  @mdegans @mhsekhavat As output is now being streamed by gstreamer in branch master of the new repository, I suggest closing this issue, whilst it contains a huge amount of information that can be used in improving the solution later.

[2020-07-07 12:42] engineer1982 commented on #129
I downgraded my Jetson Nano to JetPack 4.3 and worked fine. Thanks!

[2020-07-07 13:30] svetlanadataper commented on #129
I understand, probably the problem is Jetpack 4.4. I cannot downgrade now so hopefully in the future it will work on 4.4.

Thank you

Svetlana

[2020-07-07 13:52] JsonSadler commented on #118
more like it has been failed to load the default video sample as it has been removed, can you confirm the problem is with the VideoCapture for sure?

@codebugged What was your problem exactly?

Some work has been done around to support gstreamer input, but not well tested and merged yet. See #70

[2020-07-07 13:58] JsonSadler commented on #83
One vote for docker and one vote for ready-to-flash images!
We are working on a new architecture which allows better deployment, I am going to merge changes @mdegans made long ago too, after changes made to the architecture, so we will have all three options to deploy it.

[2020-07-07 16:45] mhaboali commented on #83
Thanks @JsonSadler for keeping us updated!

I'm wondering now how can I run the system with PI camera V2 (CSI Camera)? I've tested the social distancing app with USB camera and it worked perfectly but the CSI camera I always get an issue with opening the camera.

[2020-07-07 17:25] JsonSadler commented on #83
Would you please make a new issue for this so I can follow up?
The smart-distancing-app is being extracted fromm current repo to another one, so please make your issue in the new repo here: [https://github.com/neuralet/smart-social-distancing](https://github.com/neuralet/smart-social-distancing)
Please first test with that new repo, then if you got any errors, post them there and describe your set

[2020-07-07 17:37] JsonSadler commented on #129
There are some work in progress under deepstream-gstreamer branch, @mdegans may have some ideas that if it helps running on 4.4 using deepstream or not. I was away for a long time and I am not aware of the exact situation, but you can see [previous discussions around this ](https://github.com/neuralet/neuralet/issues/72#issuecomment-627470444). You also can join our slack and get the updates from

[2020-07-07 19:32] mdegans commented on #129
This branch runs on 4.4, @svetlanadataper
https://github.com/mdegans/smart-social-distancing/tree/gst-merge

Just waiting for a code review so it can be merged into master. No guarantees it will be accepted since the way it works differs from the other branches, but it is something you can use right now. Check out the readme in that repo for instructions on building/running.

[2020-07-07 19:35] mdegans commented on #67
@JsonSadler
Yeah, this milestone is reached. I would suggest closing out everything you can and pointing people to the new repo, but I think you're already on that.

[2020-07-07 19:35] #67 closed

[2020-07-07 19:45] svetlanadataper commented on #129
Thank you so much! I will test it! I appreciate it...

Svetlana

[2020-07-07 21:43] mhaboali commented on #83
Thanks, @JsonSadler for pointing me to the new repo, I highly appreciate your help.

Ok, I'll open the issue there shortly.

[2020-07-07 22:11] mhaboali commented on #83
Hi @JsonSadler

I've tried it and I got an issue with accessing the camera using gstreamer command inside the docker and I opened an issue there with all details https://github.com/neuralet/smart-social-distancing/issues/28

Thanks!

[2020-07-13 08:49] tanueihorng opened #131 "Have trouble understanding the instructions to implement this project"
Hi, I'm sorry if you find this thread funny. I'm a secondary sch student with no experience or prior knowledge on this.
I was given a jetson nano for object detection project but I wanted to add smtg valuable to the project for our school.
As COVID-19 virus cases keep increasing in the community, I would like to try it out in our school canteen.

I had followed the instructions in the homepage, bu

[2020-07-13 13:21] mats-claassen commented on #131
Hi @tanueihorng, you should be able to run it on IP cameras by changing the `VideoPath` in the `config-jetson.ini`. You should point it at the URL of the camera.

I also see that you did not replace the placeholders in the docker run command: `HOST_PORT` and `PATH_TO_CLONED_REPO_ROOT` should be replaced by the correct values. For HOST_PORT choose any free port where you want to access the Dashboar

[2020-07-13 15:08] tanueihorng commented on #131
Thank you for your fast reply!

docker run -it --runtime nvidia --privileged -p 8000:8000 -v /nueralnet/applications/smart-distancing/:/repo neuralet/jetson-nano:applications-smart-distancing

Is it smtg like this? I replaced the PATH_TO_CLONED_REPO_ROOT to the cloned file's path

[2020-07-13 15:13] tanueihorng commented on #131
After changing the VideoPath in the config-jetson.ini, just save it ? or do I need to do something else?
So the program is actually triggered by launching the above docker run command line right?

Really appreaciate your help!

[2020-07-13 18:08] mats-claassen commented on #131
Yes, the docker run command starts the program. If you modified the config-jetson.ini file then you have to rebuild the docker image with `docker build` (have a look at the readme)

Personally, I haven't tried it with an IP camera but you should only have to save the config file and that is it. Unless the camera requires some username/password

[2020-07-14 01:57] tanueihorng commented on #131
Hi @mats-claassen

I have tried the docker run command but it returned this error. Any idea why this error occurred?
![ScrY](https://user-images.githubusercontent.com/61866167/87371483-11b5c180-c5b8-11ea-810d-dd4431059a9b.png)

Also If I wan do it with IP Camera, just put in the RTSP URL then save it right ? (Yes, my camera required username/password)
![config-jetson](https://user-images.githubuse

[2020-07-14 08:48] ycRose commented on #129
hi, I'm trying jetson xavier nx, it has jetpack4.4 and tensorrt7.1.0, can I use this branch? Actually I tried yesterday, but failed with some xxx.so error like 'ImportError: libcurand.so.10.0'. Do I need to modify this branch and run? looking forward your reply

[2020-07-14 12:37] mats-claassen commented on #131
First, check the path to the repo you used in the first command. It has some typos. Might be the issue for your error.

And for VideoPath, yes, just set the URL and save it. However in the image you posted you have added a whole `rtspsrc` command. You should add just the URL. There are several posts on StackOverflow which could help you get the correct URL like [this one](https://stackoverflow.com

[2020-07-15 03:13] mdegans commented on #129
@ycRose

If you're using 4.4 GA, that's untested and there's been some breakage. Officially DeepStream is not supported on it until the GA release of DeepStream itself. I am working on getting it building and running as it did under 4.4 DP.

No ETA as of yet, as I am working on a separate social distancing project RN. Hopefully I'll be able to integrate the changes from that into the gst-merge bra

[2020-07-16 05:52] tanueihorng commented on #131
Hi @mats-claassen
I have corrected the RTSP URL and some typos but it seems not working also
![errorpython3](https://user-images.githubusercontent.com/61866167/87632175-60578d00-c76b-11ea-8cd0-409f76dc4515.png)

[2020-07-16 09:54] ycRose commented on #129
**Hi, thanks for your reply, my deepstream is 4.4 DP and I tried it, some problems:**
1. **.git is not found**
    I fixed it by 'git init';

2. **fatal: ambiguous argument 'HEAD': unknown revision or path not in the working tree.
Use '--' to separate paths from revisions, like this:
'git <command> [<revision>...] -- [<file>...]'**
    I can't fix it, so I assign 'GIT_BRANCH=deepstream' directly,a

[2020-07-16 12:52] mats-claassen commented on #131
The Readme says you only need this volume: `"$PWD/data":/repo/data`. You must run that from your `smart-distancing` folder and it should work. `PWD` is an alias to the absolute path of your current directory

[2020-07-17 02:49] tanueihorng commented on #131
Tried it but this time new error occurred
![errortensorrt](https://user-images.githubusercontent.com/61866167/87743240-0f9f6d00-c81b-11ea-8517-6153c45aad32.png)

[2020-07-17 12:16] mats-claassen commented on #131
As the error says: There seems to be no `Host` in the `App` section of the config file you are using. Or maybe the config-jetson.ini file is not where it should be. You are still not setting the volume as I mentioned above (also as explained in the Readme). Maybe that is the issue.

[2020-07-17 12:25] tanueihorng commented on #131
Hi @mats-claassen
I'm really sorry! Do you mind explaining what is "$PWD/data":/repo/data

[2020-07-17 13:17] mats-claassen commented on #131
It seems you have cloned this repo. The smart social distancing app has been moved to https://github.com/neuralet/smart-social-distancing. So please start by cloning that.

If you follow the [README here](https://github.com/neuralet/smart-social-distancing#usage) it says you should run the following commands for Jetson Nano:

[code]

As you see, the volume in the `docker run` command is `"$PWD/dat

[2020-07-17 13:51] tanueihorng commented on #131
I think my current version of Jetpack is 4.4. Does it work on 4.4?

[2020-07-17 14:28] mats-claassen commented on #131
Not yet. See #129 for updates on that

[2020-07-24 17:37] delgadocc commented on #127
Not jet!

[2020-07-25 16:26] Candace-852 commented on #83
![Screenshot from 2020-07-25 21-22-46](https://user-images.githubusercontent.com/68785093/88461487-6103c800-cebd-11ea-9e9e-2da5060a3ab2.png)

the docker run command is giving this error , how to mitigate this?

[2020-07-25 17:28] undefined-references commented on #83
hi @Candace-852,
You need to replace the 'HOST_PORT' of running command with an open port on your host device.

[2020-07-26 00:42] mdegans commented on #129
[code]
@ycRose , @mats-claassen

This likely means the path specified for the hlssink to write to does not exist. I believe that may be because it's an empty path and git does not allow empty paths. I don't maintain this branch, but it should be as simple as creating the folder and putting a .keep file (or similar trick) to ensure it does exist when cloned. Such a change should probably be made in

[2020-07-26 17:42] JsonSadler commented on #122
I think this can be closed now as https://github.com/neuralet/smart-social-distancing/pull/26 is merged and closed @mrn-mln @mhejrati

[2020-07-26 17:51] JsonSadler commented on #131
@tanueihorng Could you solve your problem? Be aware that the current master branch of the new repo is experiencing heavy changes (Working, of course). The readme is not yet updated (but you can find it here: https://github.com/neuralet/smart-social-distancing/blob/c00822b503aff84bb3fae8663c95c89a04ba7767/README.md)

Let me know if you still have troubles running the code, assuming you have install

[2020-07-26 18:12] JsonSadler commented on #127
Does this help?
https://github.com/neuralet/smart-social-distancing/pull/34#issuecomment-664015294

[2020-07-26 18:16] JsonSadler commented on #83
@valdivj @mhejrati
Okay this issue went much off-topic, I suggest closing it and re-open the issue with more detailed concerns about deployment, in the new repository [here](https://github.com/neuralet/smart-social-distancing).

[2020-08-08 22:08] cassini-fly commented on #2
Hi Reza, I have lost my gitub credentials and recently found your responses. Thank for the them and I will be reviewing the commit soon. Cheers

[2020-09-15 19:23] alpha-carinae29 opened #132 "Running Adaptive learning on Jetson TX2 and Jetson Nano"
I was wonder if I can run the adaptive learning framework on edge devices such as Jetson TX2 and Jetson Nano. Since the teacher model is a really large model and also the student model require training I think it is a really challenging task to be run on low resource edge devices.
First of all I will try to run it on a more powerful device like Jetson TX2 and if the attempt was successful I will t

[2020-09-15 19:32] alpha-carinae29 commented on #132
First I tried to run a large teacher model on Jetson TX2. In my first attempt I chose the [TensorFlow NAS Faster RCNN model](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf1_detection_zoo.md) as my teacher model. To get inference from this model first I installed TensorFlow on Jetson TX2 with JetPack 4.3 base on[ this instruction](https://docs.nvidia.com/deeplea

[2020-09-15 21:09] alpha-carinae29 commented on #132
I followed the [Nvidia's instuction](https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-guide/index.html) to convert a TensorFlow Saved Model to a TensorRT optimized version. However I still had RAM problem and the script have been killed. Then I tried to optimize the model on a GPU tower with lots of hardware resources. I sucessfully converted the model but again I had RAM problem when r

[2020-09-18 21:32] alpha-carinae29 commented on #132
So I tried to install and run [IterDet](https://github.com/saic-vul/iterdet) on Jetson TX2. First I tried to install PyTorch 1.5.0 which is the backend of the IterDet model. Since the installed JetPack on my device was 4.3 I couldn't use [Nvidia's container](https://ngc.nvidia.com/catalog/containers/nvidia:l4t-pytorch) for running PyTorch on Jetson, also the PyTorch 1.5.0 wheels for Jetson is only

[2020-09-18 21:45] alpha-carinae29 commented on #132
For running the IterDet model I wrote an script inspired by the Adaptive Learning Teacher class.
I observed that when I force the model to run on GPU I get this error:
`RuntimeError: cuda runtime error (7) : too many resources requested for launch at mmdet/ops/roi_align/src/roi_align_kernel.cu:139
`
It seems this error is a [mmdetection](https://github.com/open-mmlab/mmdetection) error (mmdetectio

[2020-09-18 21:46] alpha-carinae29 commented on #132
In the next step I should find a way to run this model faster.
stay tuned :)

[2020-09-20 22:22] alpha-carinae29 commented on #132
Before performing some optimizations to the IterDet model I decided to make sure that the TensorFlow Object Detection API which is the training API for the student model can run properly on Jetson TX2, So I installed TensorFlow 1.15.2 with the help of [this instruction](https://docs.nvidia.com/deeplearning/frameworks/install-tf-jetson-platform/index.html). Then I followed the [installation guide](

[2020-10-05 05:38] #108 closed

[2020-10-30 07:26] Darlene1213 commented on #124
can anyone provide me town center dataset please?? As it is unavailable on the link

[2021-02-09 18:35] neilyoung opened #140 "Q: Is this algorithm also capable of determining the distance of persons from the camera?"
..as subject says

[2021-02-14 17:17] #140 closed

[2021-03-18 12:35] FSet89 opened #141 "Module not found in docker image for object detection training"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Build and launch docker container from source according to [this](https://neuralet.com/article/quantization-of-tensorflow-object-detection-api-models/) guide
2. run python object_detection_model_main.py --help

**Expected behavior**
The python script should run and display

[2021-03-19 13:10] alpha-carinae29 commented on #141
Hi @FSet89,
Can you please test one more time with this modification?

[2021-03-19 13:19] FSet89 commented on #141
Hi, actually I fixed by pulling the container form docker hub (2nd option), thank you anyway

[2021-05-20 11:02] FarzanehRoshanzamir commented on #141
Same problem!
What is the difference between building from this docker file and pulling from docker hub?!

Update:
Problem solved by adding these lines into docker file:
`RUN pip install tf-slim scipy lvis`

[2022-11-07 15:56] dreamyt commented on #124
have you gathered the town center dataset? Because now I also need this